<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>QZNN_1F.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{52,39}</string>
                <key>spriteSourceSize</key>
                <string>{92,43}</string>
                <key>textureRect</key>
                <string>{{609,98},{52,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>QZNN_2F.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{57,39}</string>
                <key>spriteSourceSize</key>
                <string>{91,43}</string>
                <key>textureRect</key>
                <string>{{136,190},{57,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>QZNN_3F.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{57,39}</string>
                <key>spriteSourceSize</key>
                <string>{91,43}</string>
                <key>textureRect</key>
                <string>{{501,187},{57,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>QZNN_BQ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,37}</string>
                <key>spriteSourceSize</key>
                <string>{69,37}</string>
                <key>textureRect</key>
                <string>{{197,196},{69,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>QZNN_x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{68,33}</string>
                <key>spriteSourceSize</key>
                <string>{92,43}</string>
                <key>textureRect</key>
                <string>{{415,207},{68,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>QZNN_x15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{66,33}</string>
                <key>spriteSourceSize</key>
                <string>{92,43}</string>
                <key>textureRect</key>
                <string>{{345,194},{66,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>QZNN_x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{76,33}</string>
                <key>spriteSourceSize</key>
                <string>{92,43}</string>
                <key>textureRect</key>
                <string>{{501,150},{76,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>QZNN_x5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{54,33}</string>
                <key>spriteSourceSize</key>
                <string>{92,43}</string>
                <key>textureRect</key>
                <string>{{581,154},{54,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_add.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{562,191},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_equal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{616,191},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_difen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{198,57}</string>
                <key>spriteSourceSize</key>
                <string>{200,57}</string>
                <key>textureRect</key>
                <string>{{2,129},{198,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,75}</string>
                <key>spriteSourceSize</key>
                <string>{266,75}</string>
                <key>textureRect</key>
                <string>{{2,2},{266,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_zhuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,63}</string>
                <key>spriteSourceSize</key>
                <string>{58,63}</string>
                <key>textureRect</key>
                <string>{{204,129},{58,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{272,50},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>point_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{93,95}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{416,50},{93,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>score_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,54}</string>
                <key>spriteSourceSize</key>
                <string>{81,54}</string>
                <key>textureRect</key>
                <string>{{416,149},{81,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_btn_bq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{71,37}</string>
                <key>spriteSourceSize</key>
                <string>{91,43}</string>
                <key>textureRect</key>
                <string>{{270,194},{71,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_btn_tanpai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,48}</string>
                <key>spriteSourceSize</key>
                <string>{92,48}</string>
                <key>textureRect</key>
                <string>{{513,98},{92,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_dengdaixiazhu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,44}</string>
                <key>spriteSourceSize</key>
                <string>{260,44}</string>
                <key>textureRect</key>
                <string>{{2,81},{260,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_qingqiangzhuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{130,44}</string>
                <key>spriteSourceSize</key>
                <string>{170,44}</string>
                <key>textureRect</key>
                <string>{{536,2},{130,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_qingtanpai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,44}</string>
                <key>spriteSourceSize</key>
                <string>{170,44}</string>
                <key>textureRect</key>
                <string>{{2,190},{130,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_qingxiazhu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,44}</string>
                <key>spriteSourceSize</key>
                <string>{170,44}</string>
                <key>textureRect</key>
                <string>{{513,50},{130,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_youxikaishi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,44}</string>
                <key>spriteSourceSize</key>
                <string>{260,44}</string>
                <key>textureRect</key>
                <string>{{272,2},{260,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>QNN.png</string>
            <key>size</key>
            <string>{668,243}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a58cb5de081e13b106cb63af91a0f2d7:9a940e306c83c803f79eddd3220c21e1:92749b6c3c78be7766519cc409bbe9c0$</string>
            <key>textureFileName</key>
            <string>QNN.png</string>
        </dict>
    </dict>
</plist>
