<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HHDZ_BTN_zoushi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,64}</string>
                <key>spriteSourceSize</key>
                <string>{97,64}</string>
                <key>textureRect</key>
                <string>{{157,241},{97,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HHDZ_ZS_baozi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,21}</string>
                <key>spriteSourceSize</key>
                <string>{45,21}</string>
                <key>textureRect</key>
                <string>{{161,611},{45,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HHDZ_ZS_danzhang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,21}</string>
                <key>spriteSourceSize</key>
                <string>{46,21}</string>
                <key>textureRect</key>
                <string>{{208,600},{46,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HHDZ_ZS_duizi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,21}</string>
                <key>spriteSourceSize</key>
                <string>{45,21}</string>
                <key>textureRect</key>
                <string>{{161,634},{45,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HHDZ_ZS_hei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,19}</string>
                <key>spriteSourceSize</key>
                <string>{20,19}</string>
                <key>textureRect</key>
                <string>{{230,669},{20,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HHDZ_ZS_hong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{208,669},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HHDZ_ZS_jinhua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,21}</string>
                <key>spriteSourceSize</key>
                <string>{46,21}</string>
                <key>textureRect</key>
                <string>{{208,623},{46,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HHDZ_ZS_jushu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,21}</string>
                <key>spriteSourceSize</key>
                <string>{46,21}</string>
                <key>textureRect</key>
                <string>{{208,646},{46,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HHDZ_ZS_qiandi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,39}</string>
                <key>spriteSourceSize</key>
                <string>{117,39}</string>
                <key>textureRect</key>
                <string>{{215,481},{117,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HHDZ_ZS_shunjin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,21}</string>
                <key>spriteSourceSize</key>
                <string>{46,21}</string>
                <key>textureRect</key>
                <string>{{106,659},{46,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HHDZ_ZS_shunzi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,21}</string>
                <key>spriteSourceSize</key>
                <string>{45,21}</string>
                <key>textureRect</key>
                <string>{{161,657},{45,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HHDZ_ZS_xiajuhei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,21}</string>
                <key>spriteSourceSize</key>
                <string>{69,21}</string>
                <key>textureRect</key>
                <string>{{144,447},{69,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HHDZ_ZS_xiajuhong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,21}</string>
                <key>spriteSourceSize</key>
                <string>{69,21}</string>
                <key>textureRect</key>
                <string>{{144,470},{69,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HHDZ_baozi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,29}</string>
                <key>spriteSourceSize</key>
                <string>{54,29}</string>
                <key>textureRect</key>
                <string>{{120,578},{54,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HHDZ_danzhang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,30}</string>
                <key>spriteSourceSize</key>
                <string>{54,30}</string>
                <key>textureRect</key>
                <string>{{124,546},{54,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HHDZ_duizi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,28}</string>
                <key>spriteSourceSize</key>
                <string>{53,28}</string>
                <key>textureRect</key>
                <string>{{56,590},{53,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HHDZ_duizijinbidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,32}</string>
                <key>spriteSourceSize</key>
                <string>{25,32}</string>
                <key>textureRect</key>
                <string>{{157,201},{25,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HHDZ_heidian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,23}</string>
                <key>spriteSourceSize</key>
                <string>{23,23}</string>
                <key>textureRect</key>
                <string>{{31,621},{23,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HHDZ_heihanzi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,154}</string>
                <key>spriteSourceSize</key>
                <string>{150,154}</string>
                <key>textureRect</key>
                <string>{{1,201},{150,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HHDZ_hongdian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,23}</string>
                <key>spriteSourceSize</key>
                <string>{23,23}</string>
                <key>textureRect</key>
                <string>{{31,646},{23,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HHDZ_hongheizi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,139}</string>
                <key>spriteSourceSize</key>
                <string>{141,139}</string>
                <key>textureRect</key>
                <string>{{1,353},{141,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HHDZ_hongheizoushi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,53}</string>
                <key>spriteSourceSize</key>
                <string>{215,53}</string>
                <key>textureRect</key>
                <string>{{1,45},{215,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HHDZ_jin20ju.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,42}</string>
                <key>spriteSourceSize</key>
                <string>{201,42}</string>
                <key>textureRect</key>
                <string>{{1,100},{201,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HHDZ_jinbidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,39}</string>
                <key>spriteSourceSize</key>
                <string>{74,39}</string>
                <key>textureRect</key>
                <string>{{144,373},{74,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HHDZ_jinhua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,29}</string>
                <key>spriteSourceSize</key>
                <string>{53,29}</string>
                <key>textureRect</key>
                <string>{{1,590},{53,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HHDZ_jipaidiputongdi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,32}</string>
                <key>spriteSourceSize</key>
                <string>{34,32}</string>
                <key>textureRect</key>
                <string>{{180,547},{34,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HHDZ_jipaiqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,78}</string>
                <key>spriteSourceSize</key>
                <string>{64,78}</string>
                <key>textureRect</key>
                <string>{{157,307},{64,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HHDZ_shunjin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,29}</string>
                <key>spriteSourceSize</key>
                <string>{55,29}</string>
                <key>textureRect</key>
                <string>{{129,515},{55,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HHDZ_shunzi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,28}</string>
                <key>spriteSourceSize</key>
                <string>{54,28}</string>
                <key>textureRect</key>
                <string>{{1,623},{54,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HHDZ_ziyuandi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,35}</string>
                <key>spriteSourceSize</key>
                <string>{48,35}</string>
                <key>textureRect</key>
                <string>{{218,45},{48,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HHDZ_zoushi_3xiaoge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,61}</string>
                <key>spriteSourceSize</key>
                <string>{20,61}</string>
                <key>textureRect</key>
                <string>{{144,493},{20,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HHDZ_zoushi_6dage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,242}</string>
                <key>spriteSourceSize</key>
                <string>{42,242}</string>
                <key>textureRect</key>
                <string>{{1,1},{42,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HHDZ_zoushi_6xiaoge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,121}</string>
                <key>spriteSourceSize</key>
                <string>{20,121}</string>
                <key>textureRect</key>
                <string>{{1,527},{20,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HHDZ_zoushi_NEW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,20}</string>
                <key>spriteSourceSize</key>
                <string>{50,20}</string>
                <key>textureRect</key>
                <string>{{204,131},{50,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HHDZ_zoushi_hei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{218,95},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HHDZ_zoushi_heidian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{111,609},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HHDZ_zoushi_heigan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,26}</string>
                <key>spriteSourceSize</key>
                <string>{30,26}</string>
                <key>textureRect</key>
                <string>{{186,515},{30,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HHDZ_zoushi_heijindutiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,42}</string>
                <key>spriteSourceSize</key>
                <string>{70,42}</string>
                <key>textureRect</key>
                <string>{{184,153},{70,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HHDZ_zoushi_heiquan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{220,373},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HHDZ_zoushi_hognquan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{220,409},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HHDZ_zoushi_hong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{216,445},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HHDZ_zoushi_hongdian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{56,620},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HHDZ_zoushi_honggan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,26}</string>
                <key>spriteSourceSize</key>
                <string>{30,26}</string>
                <key>textureRect</key>
                <string>{{176,583},{30,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HHDZ_zoushi_hongjiandutiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,42}</string>
                <key>spriteSourceSize</key>
                <string>{70,42}</string>
                <key>textureRect</key>
                <string>{{184,197},{70,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HHDZ_zoushi_pailu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,31}</string>
                <key>spriteSourceSize</key>
                <string>{70,31}</string>
                <key>textureRect</key>
                <string>{{144,414},{70,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HHDZ_zoushi_pailudadi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,55}</string>
                <key>spriteSourceSize</key>
                <string>{181,55}</string>
                <key>textureRect</key>
                <string>{{1,144},{181,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HHDZ_zoushi_paixingzoushi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,31}</string>
                <key>spriteSourceSize</key>
                <string>{126,31}</string>
                <key>textureRect</key>
                <string>{{1,494},{126,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HHDZ_zoushi_taitouxiaojiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,14}</string>
                <key>spriteSourceSize</key>
                <string>{30,14}</string>
                <key>textureRect</key>
                <string>{{237,307},{30,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>danzhangdi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,39}</string>
                <key>spriteSourceSize</key>
                <string>{117,39}</string>
                <key>textureRect</key>
                <string>{{1,549},{117,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RedVsBlackatlas.png</string>
            <key>size</key>
            <string>{255,690}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c46b9b6122b5da7c80950143ddeedda3:aa8dbc97c263d94a0d4adc5c436a510c:16ed9982c01fb05c397b14e2c255a2d5$</string>
            <key>textureFileName</key>
            <string>RedVsBlackatlas.png</string>
        </dict>
    </dict>
</plist>
