<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>activity_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,41}</string>
                <key>spriteSourceSize</key>
                <string>{84,41}</string>
                <key>textureRect</key>
                <string>{{303,648},{84,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,461}</string>
                <key>spriteSourceSize</key>
                <string>{120,461}</string>
                <key>textureRect</key>
                <string>{{328,2},{120,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_content_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,53}</string>
                <key>spriteSourceSize</key>
                <string>{70,53}</string>
                <key>textureRect</key>
                <string>{{223,470},{70,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dialog_text_cancel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,31}</string>
                <key>spriteSourceSize</key>
                <string>{58,31}</string>
                <key>textureRect</key>
                <string>{{452,458},{58,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_text_sure.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,33}</string>
                <key>spriteSourceSize</key>
                <string>{61,33}</string>
                <key>textureRect</key>
                <string>{{271,705},{61,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dialog_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,50}</string>
                <key>spriteSourceSize</key>
                <string>{103,50}</string>
                <key>textureRect</key>
                <string>{{452,251},{103,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>email_empty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,81}</string>
                <key>spriteSize</key>
                <string>{322,339}</string>
                <key>spriteSourceSize</key>
                <string>{322,501}</string>
                <key>textureRect</key>
                <string>{{2,2},{322,339}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>email_icon_read.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,62}</string>
                <key>spriteSourceSize</key>
                <string>{63,62}</string>
                <key>textureRect</key>
                <string>{{204,705},{63,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>email_icon_read2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,64}</string>
                <key>spriteSourceSize</key>
                <string>{117,64}</string>
                <key>textureRect</key>
                <string>{{102,470},{117,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>email_icon_unread.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,58}</string>
                <key>spriteSourceSize</key>
                <string>{67,58}</string>
                <key>textureRect</key>
                <string>{{452,180},{67,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>email_item_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,131}</string>
                <key>spriteSourceSize</key>
                <string>{96,131}</string>
                <key>textureRect</key>
                <string>{{2,470},{96,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>email_text_read.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,25}</string>
                <key>spriteSourceSize</key>
                <string>{44,25}</string>
                <key>textureRect</key>
                <string>{{280,497},{44,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>email_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,41}</string>
                <key>spriteSourceSize</key>
                <string>{82,41}</string>
                <key>textureRect</key>
                <string>{{308,693},{82,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamerule_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,41}</string>
                <key>spriteSourceSize</key>
                <string>{84,41}</string>
                <key>textureRect</key>
                <string>{{392,552},{84,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>head_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{88,44}</string>
                <key>spriteSourceSize</key>
                <string>{180,64}</string>
                <key>textureRect</key>
                <string>{{217,544},{88,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>info_text_bind.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{60,34}</string>
                <key>spriteSourceSize</key>
                <string>{116,36}</string>
                <key>textureRect</key>
                <string>{{448,493},{60,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>info_text_change_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{114,34}</string>
                <key>spriteSourceSize</key>
                <string>{116,36}</string>
                <key>textureRect</key>
                <string>{{75,609},{114,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>info_text_copy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{60,34}</string>
                <key>spriteSourceSize</key>
                <string>{116,36}</string>
                <key>textureRect</key>
                <string>{{439,689},{60,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>info_text_logout.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{94,40}</string>
                <key>spriteSourceSize</key>
                <string>{150,44}</string>
                <key>textureRect</key>
                <string>{{38,727},{94,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>info_text_set.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{84,34}</string>
                <key>spriteSourceSize</key>
                <string>{116,36}</string>
                <key>textureRect</key>
                <string>{{437,531},{84,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>info_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{174,44}</string>
                <key>spriteSourceSize</key>
                <string>{180,46}</string>
                <key>textureRect</key>
                <string>{{452,2},{174,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kefu_btn_text_lianxi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,33}</string>
                <key>spriteSourceSize</key>
                <string>{118,33}</string>
                <key>textureRect</key>
                <string>{{38,605},{118,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kefu_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,41}</string>
                <key>spriteSourceSize</key>
                <string>{84,41}</string>
                <key>textureRect</key>
                <string>{{394,640},{84,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pay_CZ_ICON_CZZX.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,67}</string>
                <key>spriteSourceSize</key>
                <string>{111,67}</string>
                <key>textureRect</key>
                <string>{{102,538},{111,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pay_icon_ZCHB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,32}</string>
                <key>spriteSourceSize</key>
                <string>{160,32}</string>
                <key>textureRect</key>
                <string>{{2,605},{160,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pay_icon_type_qq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,28}</string>
                <key>spriteSourceSize</key>
                <string>{27,28}</string>
                <key>textureRect</key>
                <string>{{397,728},{27,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pay_icon_type_vx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,27}</string>
                <key>spriteSourceSize</key>
                <string>{33,27}</string>
                <key>textureRect</key>
                <string>{{360,738},{33,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pay_text_btn_recharge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{148,42}</string>
                <key>spriteSourceSize</key>
                <string>{150,44}</string>
                <key>textureRect</key>
                <string>{{282,345},{148,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pay_text_copy_qq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,33}</string>
                <key>spriteSourceSize</key>
                <string>{118,33}</string>
                <key>textureRect</key>
                <string>{{265,544},{104,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pay_text_copy_vx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,33}</string>
                <key>spriteSourceSize</key>
                <string>{118,33}</string>
                <key>textureRect</key>
                <string>{{328,467},{116,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pay_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{86,44}</string>
                <key>spriteSourceSize</key>
                <string>{180,46}</string>
                <key>textureRect</key>
                <string>{{302,552},{86,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>register_btn_reg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,121}</string>
                <key>spriteSourceSize</key>
                <string>{276,121}</string>
                <key>textureRect</key>
                <string>{{2,345},{276,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>savebox_text_btn_cun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{96,42}</string>
                <key>spriteSourceSize</key>
                <string>{150,44}</string>
                <key>textureRect</key>
                <string>{{452,358},{96,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>savebox_text_btn_max.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{48,28}</string>
                <key>spriteSourceSize</key>
                <string>{92,30}</string>
                <key>textureRect</key>
                <string>{{308,738},{48,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>savebox_text_btn_qu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{96,42}</string>
                <key>spriteSourceSize</key>
                <string>{150,44}</string>
                <key>textureRect</key>
                <string>{{113,609},{96,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>savebox_text_tab_cun_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,30}</string>
                <key>spriteSourceSize</key>
                <string>{150,30}</string>
                <key>textureRect</key>
                <string>{{475,531},{66,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>savebox_text_tab_cun_unselect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,30}</string>
                <key>spriteSourceSize</key>
                <string>{150,30}</string>
                <key>textureRect</key>
                <string>{{439,619},{66,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>savebox_text_tab_qu_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,30}</string>
                <key>spriteSourceSize</key>
                <string>{150,30}</string>
                <key>textureRect</key>
                <string>{{473,619},{66,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>savebox_text_tab_qu_unselect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,30}</string>
                <key>spriteSourceSize</key>
                <string>{150,30}</string>
                <key>textureRect</key>
                <string>{{477,689},{66,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>savebox_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{86,44}</string>
                <key>spriteSourceSize</key>
                <string>{180,46}</string>
                <key>textureRect</key>
                <string>{{302,600},{86,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>set_slider_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{64,62}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{136,705},{64,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>set_text_music.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{90,46}</string>
                <key>spriteSourceSize</key>
                <string>{100,48}</string>
                <key>textureRect</key>
                <string>{{209,655},{90,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>set_text_sound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{92,46}</string>
                <key>spriteSourceSize</key>
                <string>{100,48}</string>
                <key>textureRect</key>
                <string>{{113,655},{92,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>set_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{88,44}</string>
                <key>spriteSourceSize</key>
                <string>{180,64}</string>
                <key>textureRect</key>
                <string>{{328,504},{88,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>All.png</string>
            <key>size</key>
            <string>{512,769}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad6ac649dfa677039cf74fafc82d796d:6473e37be20bcff3f3f00faf97d6c99d:eb15ecb7a36ad1ced4c481e5ef93255c$</string>
            <key>textureFileName</key>
            <string>All.png</string>
        </dict>
    </dict>
</plist>
