<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GG_BTN_yuedu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,48}</string>
                <key>spriteSourceSize</key>
                <string>{60,48}</string>
                <key>textureRect</key>
                <string>{{459,161},{60,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GG_ICON_laba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,74}</string>
                <key>spriteSourceSize</key>
                <string>{84,74}</string>
                <key>textureRect</key>
                <string>{{317,118},{84,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GG_yiyue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,59}</string>
                <key>spriteSourceSize</key>
                <string>{60,59}</string>
                <key>textureRect</key>
                <string>{{459,100},{60,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KF_WXZ_changjianwenti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,41}</string>
                <key>spriteSourceSize</key>
                <string>{162,41}</string>
                <key>textureRect</key>
                <string>{{1,118},{162,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KF_WXZ_zaixiankefu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,41}</string>
                <key>spriteSourceSize</key>
                <string>{162,41}</string>
                <key>textureRect</key>
                <string>{{1,161},{162,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KF_XZ_changjianwenti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,41}</string>
                <key>spriteSourceSize</key>
                <string>{156,41}</string>
                <key>textureRect</key>
                <string>{{785,1},{156,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KF_XZ_zaixiankefu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,41}</string>
                <key>spriteSourceSize</key>
                <string>{156,41}</string>
                <key>textureRect</key>
                <string>{{785,44},{156,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KF_biaoti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,52}</string>
                <key>spriteSourceSize</key>
                <string>{107,52}</string>
                <key>textureRect</key>
                <string>{{785,87},{107,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KF_fengexian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,2}</string>
                <key>spriteSourceSize</key>
                <string>{33,2}</string>
                <key>textureRect</key>
                <string>{{540,46},{33,2}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>VIPKF_BTN_fuzhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,46}</string>
                <key>spriteSourceSize</key>
                <string>{96,46}</string>
                <key>textureRect</key>
                <string>{{894,87},{96,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>VIPKF_HKF.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,41}</string>
                <key>spriteSourceSize</key>
                <string>{150,41}</string>
                <key>textureRect</key>
                <string>{{165,118},{150,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>VIPKF_LKF.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,41}</string>
                <key>spriteSourceSize</key>
                <string>{150,41}</string>
                <key>textureRect</key>
                <string>{{165,161},{150,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>VIPKF_QQdiaole.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{424,34}</string>
                <key>spriteSourceSize</key>
                <string>{424,34}</string>
                <key>textureRect</key>
                <string>{{1,46},{424,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>VIPKF_Qdi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,50}</string>
                <key>spriteSourceSize</key>
                <string>{70,50}</string>
                <key>textureRect</key>
                <string>{{767,141},{70,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>VIPKF_guanfanQhao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{399,34}</string>
                <key>spriteSourceSize</key>
                <string>{399,34}</string>
                <key>textureRect</key>
                <string>{{1,82},{399,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>VIPKF_wen1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{555,43}</string>
                <key>spriteSourceSize</key>
                <string>{555,43}</string>
                <key>textureRect</key>
                <string>{{1,1},{555,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YJ_youjian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,52}</string>
                <key>spriteSourceSize</key>
                <string>{111,52}</string>
                <key>textureRect</key>
                <string>{{427,46},{111,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anseyuandi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{819,141},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hongdian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,23}</string>
                <key>spriteSourceSize</key>
                <string>{21,23}</string>
                <key>textureRect</key>
                <string>{{402,82},{21,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianseyuandi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{393,118},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>youjianbiaotifengexian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,4}</string>
                <key>spriteSourceSize</key>
                <string>{67,4}</string>
                <key>textureRect</key>
                <string>{{819,207},{67,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuobianxuanzeanseanniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,94}</string>
                <key>spriteSourceSize</key>
                <string>{225,94}</string>
                <key>textureRect</key>
                <string>{{558,1},{225,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuobianxuanzeliangseanniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,96}</string>
                <key>spriteSourceSize</key>
                <string>{225,96}</string>
                <key>textureRect</key>
                <string>{{540,97},{225,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Announce.png</string>
            <key>size</key>
            <string>{942,212}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4288ff5fca2ba2b2152be2d64af870d3:db99cdc070749c5032596f58eb77d316:0dbcb890136498f3e7e7b591f98197e1$</string>
            <key>textureFileName</key>
            <string>Announce.png</string>
        </dict>
    </dict>
</plist>
