<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>+3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,35}</string>
                <key>spriteSourceSize</key>
                <string>{59,35}</string>
                <key>textureRect</key>
                <string>{{128,722},{59,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ad_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,418}</string>
                <key>spriteSourceSize</key>
                <string>{270,418}</string>
                <key>textureRect</key>
                <string>{{46,2},{270,418}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ad_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{302,538},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ad_unselect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{302,552},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_btn_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,80}</string>
                <key>spriteSourceSize</key>
                <string>{152,80}</string>
                <key>textureRect</key>
                <string>{{46,424},{152,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_activity.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,48}</string>
                <key>spriteSourceSize</key>
                <string>{146,62}</string>
                <key>textureRect</key>
                <string>{{46,650},{98,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_add.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,45}</string>
                <key>spriteSourceSize</key>
                <string>{42,45}</string>
                <key>textureRect</key>
                <string>{{264,694},{42,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,54}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{160,650},{58,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_fandian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,86}</string>
                <key>spriteSourceSize</key>
                <string>{130,86}</string>
                <key>textureRect</key>
                <string>{{46,560},{130,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_kefu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{108,54}</string>
                <key>spriteSourceSize</key>
                <string>{146,62}</string>
                <key>textureRect</key>
                <string>{{202,424},{108,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_promoter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{124,50}</string>
                <key>spriteSourceSize</key>
                <string>{146,62}</string>
                <key>textureRect</key>
                <string>{{180,594},{124,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_regist.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,48}</string>
                <key>spriteSourceSize</key>
                <string>{146,62}</string>
                <key>textureRect</key>
                <string>{{46,508},{146,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_savebox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{102,52}</string>
                <key>spriteSourceSize</key>
                <string>{146,62}</string>
                <key>textureRect</key>
                <string>{{196,538},{102,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_withdraw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{104,52}</string>
                <key>spriteSourceSize</key>
                <string>{146,62}</string>
                <key>textureRect</key>
                <string>{{202,482},{104,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fengexian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,55}</string>
                <key>spriteSourceSize</key>
                <string>{2,55}</string>
                <key>textureRect</key>
                <string>{{314,424},{2,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_email.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,42}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{218,648},{50,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_jiujijin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{50,42}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{264,648},{50,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paomadeng_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{758,40}</string>
                <key>spriteSourceSize</key>
                <string>{758,40}</string>
                <key>textureRect</key>
                <string>{{2,2},{758,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text_email.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,28}</string>
                <key>spriteSourceSize</key>
                <string>{82,28}</string>
                <key>textureRect</key>
                <string>{{191,712},{48,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text_fanli.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,26}</string>
                <key>spriteSourceSize</key>
                <string>{82,28}</string>
                <key>textureRect</key>
                <string>{{98,650},{80,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text_jiujijin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,28}</string>
                <key>spriteSourceSize</key>
                <string>{82,28}</string>
                <key>textureRect</key>
                <string>{{128,650},{68,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Hall.png</string>
            <key>size</key>
            <string>{318,762}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:97f0756335cbad3a6910c6d6203bfa7e:a4707aba20985d9637b837129e337df0:832704132c6d8c74b176189b527c6d86$</string>
            <key>textureFileName</key>
            <string>Hall.png</string>
        </dict>
    </dict>
</plist>
