<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_b_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,386}</string>
                <key>spriteSourceSize</key>
                <string>{232,386}</string>
                <key>textureRect</key>
                <string>{{2,230},{232,386}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_b_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,386}</string>
                <key>spriteSourceSize</key>
                <string>{232,386}</string>
                <key>textureRect</key>
                <string>{{2,466},{232,386}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_s_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,188}</string>
                <key>spriteSourceSize</key>
                <string>{232,188}</string>
                <key>textureRect</key>
                <string>{{2,702},{232,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_s_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,188}</string>
                <key>spriteSourceSize</key>
                <string>{232,188}</string>
                <key>textureRect</key>
                <string>{{2,894},{232,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_s_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,188}</string>
                <key>spriteSourceSize</key>
                <string>{232,188}</string>
                <key>textureRect</key>
                <string>{{2,1086},{232,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_s_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,188}</string>
                <key>spriteSourceSize</key>
                <string>{232,188}</string>
                <key>textureRect</key>
                <string>{{2,1278},{232,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_brnn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,17}</string>
                <key>spriteSize</key>
                <string>{182,166}</string>
                <key>spriteSourceSize</key>
                <string>{224,200}</string>
                <key>textureRect</key>
                <string>{{262,1810},{182,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_buyu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,394}</string>
                <key>spriteSourceSize</key>
                <string>{224,394}</string>
                <key>textureRect</key>
                <string>{{2,2},{224,394}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_cjks.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{170,200}</string>
                <key>spriteSourceSize</key>
                <string>{224,200}</string>
                <key>textureRect</key>
                <string>{{238,1454},{170,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_fucai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{224,158}</string>
                <key>spriteSourceSize</key>
                <string>{224,200}</string>
                <key>textureRect</key>
                <string>{{2,1470},{224,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_longhudou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,12}</string>
                <key>spriteSize</key>
                <string>{178,128}</string>
                <key>spriteSourceSize</key>
                <string>{224,200}</string>
                <key>textureRect</key>
                <string>{{2,1810},{178,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_qznn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{200,184}</string>
                <key>spriteSourceSize</key>
                <string>{224,200}</string>
                <key>textureRect</key>
                <string>{{238,1084},{200,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_redblack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,20}</string>
                <key>spriteSize</key>
                <string>{180,144}</string>
                <key>spriteSourceSize</key>
                <string>{224,200}</string>
                <key>textureRect</key>
                <string>{{238,702},{180,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_shixun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{178,200}</string>
                <key>spriteSourceSize</key>
                <string>{224,200}</string>
                <key>textureRect</key>
                <string>{{238,1272},{178,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_touzhu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-11}</string>
                <key>spriteSize</key>
                <string>{190,178}</string>
                <key>spriteSourceSize</key>
                <string>{224,200}</string>
                <key>textureRect</key>
                <string>{{230,1628},{190,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_yiqiuchengming.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-3}</string>
                <key>spriteSize</key>
                <string>{212,194}</string>
                <key>spriteSourceSize</key>
                <string>{224,200}</string>
                <key>textureRect</key>
                <string>{{238,886},{212,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_brnn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,60}</string>
                <key>spriteSourceSize</key>
                <string>{170,60}</string>
                <key>textureRect</key>
                <string>{{198,1810},{168,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text_buyu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,60}</string>
                <key>spriteSourceSize</key>
                <string>{170,60}</string>
                <key>textureRect</key>
                <string>{{400,220},{170,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text_cjks.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,60}</string>
                <key>spriteSourceSize</key>
                <string>{170,60}</string>
                <key>textureRect</key>
                <string>{{392,394},{170,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text_fucai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,60}</string>
                <key>spriteSourceSize</key>
                <string>{170,60}</string>
                <key>textureRect</key>
                <string>{{392,568},{170,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text_longhudou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,60}</string>
                <key>spriteSourceSize</key>
                <string>{214,60}</string>
                <key>textureRect</key>
                <string>{{400,2},{214,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text_qznn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,60}</string>
                <key>spriteSourceSize</key>
                <string>{170,60}</string>
                <key>textureRect</key>
                <string>{{2,1632},{170,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text_redblack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,60}</string>
                <key>spriteSourceSize</key>
                <string>{170,60}</string>
                <key>textureRect</key>
                <string>{{66,1632},{170,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text_shixun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,60}</string>
                <key>spriteSourceSize</key>
                <string>{170,60}</string>
                <key>textureRect</key>
                <string>{{130,1632},{170,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text_touzhu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{86,60}</string>
                <key>spriteSourceSize</key>
                <string>{170,60}</string>
                <key>textureRect</key>
                <string>{{386,742},{86,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text_yiqiuchengming.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,60}</string>
                <key>spriteSourceSize</key>
                <string>{170,60}</string>
                <key>textureRect</key>
                <string>{{134,1810},{170,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>HallGames.png</string>
            <key>size</key>
            <string>{462,1990}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0547da948b8473791d563c8684d64e61:42b2152c1e77282ba08ac70957d1522e:9542435ce403b9fe28102e7635c2f91f$</string>
            <key>textureFileName</key>
            <string>HallGames.png</string>
        </dict>
    </dict>
</plist>
