<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TGY_WDSY_CJTG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,54}</string>
                <key>spriteSourceSize</key>
                <string>{213,54}</string>
                <key>textureRect</key>
                <string>{{256,444},{213,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TGY_WDSY_GJTG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,54}</string>
                <key>spriteSourceSize</key>
                <string>{212,54}</string>
                <key>textureRect</key>
                <string>{{1553,2},{212,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TGY_WDSY_HHR.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,54}</string>
                <key>spriteSourceSize</key>
                <string>{132,54}</string>
                <key>textureRect</key>
                <string>{{1906,104},{132,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TGY_WDSY_SXS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,54}</string>
                <key>spriteSourceSize</key>
                <string>{132,54}</string>
                <key>textureRect</key>
                <string>{{1482,251},{132,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TGY_WDSY_ZJ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,53}</string>
                <key>spriteSourceSize</key>
                <string>{92,53}</string>
                <key>textureRect</key>
                <string>{{1680,379},{92,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TGY_WDSY_ZSTG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,54}</string>
                <key>spriteSourceSize</key>
                <string>{213,54}</string>
                <key>textureRect</key>
                <string>{{1336,2},{213,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_kefu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,89}</string>
                <key>spriteSourceSize</key>
                <string>{88,89}</string>
                <key>textureRect</key>
                <string>{{1730,281},{88,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_shouyiguize.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,5}</string>
                <key>spriteSize</key>
                <string>{90,85}</string>
                <key>spriteSourceSize</key>
                <string>{94,95}</string>
                <key>textureRect</key>
                <string>{{1822,281},{90,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_tuiguangyindao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,85}</string>
                <key>spriteSourceSize</key>
                <string>{88,85}</string>
                <key>textureRect</key>
                <string>{{1588,379},{88,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>code_btn_checkbig.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,47}</string>
                <key>spriteSourceSize</key>
                <string>{253,47}</string>
                <key>textureRect</key>
                <string>{{1079,2},{253,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>code_qrcode_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,238}</string>
                <key>spriteSourceSize</key>
                <string>{238,238}</string>
                <key>textureRect</key>
                <string>{{755,113},{238,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>code_tuiguangyindao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{590,100}</string>
                <key>spriteSourceSize</key>
                <string>{590,100}</string>
                <key>textureRect</key>
                <string>{{2,340},{590,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_fegexian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,15}</string>
                <key>spriteSourceSize</key>
                <string>{117,15}</string>
                <key>textureRect</key>
                <string>{{1214,506},{117,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_text_btn_register.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,46}</string>
                <key>spriteSourceSize</key>
                <string>{174,46}</string>
                <key>textureRect</key>
                <string>{{1348,201},{174,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_cebianlan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,173}</string>
                <key>spriteSourceSize</key>
                <string>{103,173}</string>
                <key>textureRect</key>
                <string>{{932,355},{103,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>earns_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,47}</string>
                <key>spriteSourceSize</key>
                <string>{198,47}</string>
                <key>textureRect</key>
                <string>{{997,113},{198,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>earns_title_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,32}</string>
                <key>spriteSourceSize</key>
                <string>{57,32}</string>
                <key>textureRect</key>
                <string>{{1550,505},{57,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>earns_title_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,32}</string>
                <key>spriteSourceSize</key>
                <string>{161,32}</string>
                <key>textureRect</key>
                <string>{{1730,245},{161,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>earns_title_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,32}</string>
                <key>spriteSourceSize</key>
                <string>{171,32}</string>
                <key>textureRect</key>
                <string>{{1039,524},{171,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>earns_title_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,32}</string>
                <key>spriteSourceSize</key>
                <string>{59,32}</string>
                <key>textureRect</key>
                <string>{{1586,522},{59,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gk_item_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,551}</string>
                <key>spriteSourceSize</key>
                <string>{223,551}</string>
                <key>textureRect</key>
                <string>{{2,113},{223,551}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gk_item_btn_text_detail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,29}</string>
                <key>spriteSourceSize</key>
                <string>{116,29}</string>
                <key>textureRect</key>
                <string>{{1911,368},{116,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gk_item_hengxian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,2}</string>
                <key>spriteSourceSize</key>
                <string>{219,2}</string>
                <key>textureRect</key>
                <string>{{1079,53},{219,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gk_item_icon_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,194}</string>
                <key>spriteSourceSize</key>
                <string>{194,194}</string>
                <key>textureRect</key>
                <string>{{557,113},{194,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gk_item_icon_jinrishuishou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,132}</string>
                <key>spriteSourceSize</key>
                <string>{129,132}</string>
                <key>textureRect</key>
                <string>{{1338,392},{129,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gk_item_icon_meirishouyi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,137}</string>
                <key>spriteSourceSize</key>
                <string>{133,137}</string>
                <key>textureRect</key>
                <string>{{1197,333},{133,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gk_item_icon_tuighaungrenshu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,138}</string>
                <key>spriteSourceSize</key>
                <string>{137,138}</string>
                <key>textureRect</key>
                <string>{{1340,251},{137,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gk_item_text_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,44}</string>
                <key>spriteSourceSize</key>
                <string>{178,44}</string>
                <key>textureRect</key>
                <string>{{1079,59},{178,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gk_item_title_day_earns.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,35}</string>
                <key>spriteSourceSize</key>
                <string>{132,35}</string>
                <key>textureRect</key>
                <string>{{140,527},{132,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gk_item_title_day_tax.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,35}</string>
                <key>spriteSourceSize</key>
                <string>{132,35}</string>
                <key>textureRect</key>
                <string>{{1369,525},{132,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gk_item_title_level.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,35}</string>
                <key>spriteSourceSize</key>
                <string>{134,35}</string>
                <key>textureRect</key>
                <string>{{2,527},{134,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gk_item_title_num.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,36}</string>
                <key>spriteSourceSize</key>
                <string>{133,36}</string>
                <key>textureRect</key>
                <string>{{596,526},{133,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,71}</string>
                <key>spriteSourceSize</key>
                <string>{88,71}</string>
                <key>textureRect</key>
                <string>{{1737,374},{88,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>level_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,139}</string>
                <key>spriteSourceSize</key>
                <string>{130,139}</string>
                <key>textureRect</key>
                <string>{{1214,107},{130,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_btn_direction.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,55}</string>
                <key>spriteSourceSize</key>
                <string>{53,55}</string>
                <key>textureRect</key>
                <string>{{1972,2},{53,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>level_progress_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,45}</string>
                <key>spriteSourceSize</key>
                <string>{84,45}</string>
                <key>textureRect</key>
                <string>{{1812,375},{84,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_progress_fore.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,43}</string>
                <key>spriteSourceSize</key>
                <string>{62,43}</string>
                <key>textureRect</key>
                <string>{{1261,60},{62,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_text_1th.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,34}</string>
                <key>spriteSourceSize</key>
                <string>{125,34}</string>
                <key>textureRect</key>
                <string>{{1474,392},{125,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>level_text_2th.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,34}</string>
                <key>spriteSourceSize</key>
                <string>{125,34}</string>
                <key>textureRect</key>
                <string>{{1512,387},{125,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>level_text_3th.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,34}</string>
                <key>spriteSourceSize</key>
                <string>{125,34}</string>
                <key>textureRect</key>
                <string>{{1550,376},{125,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>level_text_cur_level.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,30}</string>
                <key>spriteSourceSize</key>
                <string>{106,30}</string>
                <key>textureRect</key>
                <string>{{929,532},{106,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,47}</string>
                <key>spriteSourceSize</key>
                <string>{199,47}</string>
                <key>textureRect</key>
                <string>{{1769,2},{199,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>number_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,48}</string>
                <key>spriteSourceSize</key>
                <string>{198,48}</string>
                <key>textureRect</key>
                <string>{{276,502},{198,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>number_title_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,31}</string>
                <key>spriteSourceSize</key>
                <string>{114,31}</string>
                <key>textureRect</key>
                <string>{{1922,437},{114,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>number_title_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,31}</string>
                <key>spriteSourceSize</key>
                <string>{115,31}</string>
                <key>textureRect</key>
                <string>{{1957,437},{115,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>number_title_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,32}</string>
                <key>spriteSourceSize</key>
                <string>{171,32}</string>
                <key>textureRect</key>
                <string>{{754,504},{171,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>number_title_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,32}</string>
                <key>spriteSourceSize</key>
                <string>{171,32}</string>
                <key>textureRect</key>
                <string>{{1540,201},{171,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>promoter_icon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,137}</string>
                <key>spriteSourceSize</key>
                <string>{154,137}</string>
                <key>textureRect</key>
                <string>{{596,311},{154,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>promoter_icon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,137}</string>
                <key>spriteSourceSize</key>
                <string>{154,137}</string>
                <key>textureRect</key>
                <string>{{1039,329},{154,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>promoter_icon_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,137}</string>
                <key>spriteSourceSize</key>
                <string>{149,137}</string>
                <key>textureRect</key>
                <string>{{1348,60},{149,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>promoter_icon_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,137}</string>
                <key>spriteSourceSize</key>
                <string>{138,137}</string>
                <key>textureRect</key>
                <string>{{1501,60},{138,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>promoter_icon_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,137}</string>
                <key>spriteSourceSize</key>
                <string>{138,137}</string>
                <key>textureRect</key>
                <string>{{1764,104},{138,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>promoter_icon_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,139}</string>
                <key>spriteSourceSize</key>
                <string>{162,139}</string>
                <key>textureRect</key>
                <string>{{1048,107},{162,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qrcode_bg_erweim.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,113}</string>
                <key>spriteSourceSize</key>
                <string>{117,113}</string>
                <key>textureRect</key>
                <string>{{1643,60},{117,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qrcode_text_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1039,44}</string>
                <key>spriteSourceSize</key>
                <string>{1039,44}</string>
                <key>textureRect</key>
                <string>{{2,65},{1039,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qrcode_text_dibu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1073,59}</string>
                <key>spriteSourceSize</key>
                <string>{1073,59}</string>
                <key>textureRect</key>
                <string>{{2,2},{1073,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rewards_btn_clear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,79}</string>
                <key>spriteSourceSize</key>
                <string>{114,79}</string>
                <key>textureRect</key>
                <string>{{1222,250},{114,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rewards_btn_common.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,79}</string>
                <key>spriteSourceSize</key>
                <string>{114,79}</string>
                <key>textureRect</key>
                <string>{{478,481},{114,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rewards_btn_delete.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,79}</string>
                <key>spriteSourceSize</key>
                <string>{114,79}</string>
                <key>textureRect</key>
                <string>{{1612,213},{114,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rewards_btn_max.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,79}</string>
                <key>spriteSourceSize</key>
                <string>{114,79}</string>
                <key>textureRect</key>
                <string>{{1612,296},{114,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rewards_btn_sure.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,79}</string>
                <key>spriteSourceSize</key>
                <string>{250,79}</string>
                <key>textureRect</key>
                <string>{{2,444},{250,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rewards_draw_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,37}</string>
                <key>spriteSourceSize</key>
                <string>{151,37}</string>
                <key>textureRect</key>
                <string>{{1214,525},{151,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rewards_list_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,174}</string>
                <key>spriteSourceSize</key>
                <string>{145,174}</string>
                <key>textureRect</key>
                <string>{{754,355},{145,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rewards_text_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,50}</string>
                <key>spriteSourceSize</key>
                <string>{170,50}</string>
                <key>textureRect</key>
                <string>{{1039,470},{170,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rewards_text_btn_draw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,33}</string>
                <key>spriteSourceSize</key>
                <string>{119,33}</string>
                <key>textureRect</key>
                <string>{{473,444},{119,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rewards_title_draw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,32}</string>
                <key>spriteSourceSize</key>
                <string>{119,32}</string>
                <key>textureRect</key>
                <string>{{1671,512},{119,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rewards_title_state.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,32}</string>
                <key>spriteSourceSize</key>
                <string>{119,32}</string>
                <key>textureRect</key>
                <string>{{1799,467},{119,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rewards_title_time.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,32}</string>
                <key>spriteSourceSize</key>
                <string>{117,32}</string>
                <key>textureRect</key>
                <string>{{1643,177},{117,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rewards_top_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,170}</string>
                <key>spriteSourceSize</key>
                <string>{75,170}</string>
                <key>textureRect</key>
                <string>{{1048,250},{75,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tab_texti_select_lingqushouy .png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,34}</string>
                <key>spriteSourceSize</key>
                <string>{124,34}</string>
                <key>textureRect</key>
                <string>{{1911,240},{124,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tab_texti_select_tuiguanggaikuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,33}</string>
                <key>spriteSourceSize</key>
                <string>{124,33}</string>
                <key>textureRect</key>
                <string>{{1949,240},{124,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tab_texti_select_wodetuiguangma.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,33}</string>
                <key>spriteSourceSize</key>
                <string>{154,33}</string>
                <key>textureRect</key>
                <string>{{596,452},{154,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_texti_unselect_lingqushouy .png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,34}</string>
                <key>spriteSourceSize</key>
                <string>{124,34}</string>
                <key>textureRect</key>
                <string>{{1986,238},{124,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tab_texti_unselect_tuiguanggaikuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,33}</string>
                <key>spriteSourceSize</key>
                <string>{124,33}</string>
                <key>textureRect</key>
                <string>{{1671,475},{124,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_texti_unselect_wodetuiguangma.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,33}</string>
                <key>spriteSourceSize</key>
                <string>{154,33}</string>
                <key>textureRect</key>
                <string>{{596,489},{154,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tax_bg_riqidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,79}</string>
                <key>spriteSourceSize</key>
                <string>{50,79}</string>
                <key>textureRect</key>
                <string>{{1588,468},{50,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tax_fenge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,2}</string>
                <key>spriteSourceSize</key>
                <string>{156,2}</string>
                <key>textureRect</key>
                <string>{{1039,560},{156,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tax_text_date.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,35}</string>
                <key>spriteSourceSize</key>
                <string>{61,35}</string>
                <key>textureRect</key>
                <string>{{1970,59},{61,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tax_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,47}</string>
                <key>spriteSourceSize</key>
                <string>{197,47}</string>
                <key>textureRect</key>
                <string>{{1769,53},{197,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tax_title_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,31}</string>
                <key>spriteSourceSize</key>
                <string>{91,31}</string>
                <key>textureRect</key>
                <string>{{1992,437},{91,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tax_title_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,32}</string>
                <key>spriteSourceSize</key>
                <string>{119,32}</string>
                <key>textureRect</key>
                <string>{{1799,503},{119,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tax_title_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,32}</string>
                <key>spriteSourceSize</key>
                <string>{119,32}</string>
                <key>textureRect</key>
                <string>{{1900,401},{119,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tax_title_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,32}</string>
                <key>spriteSourceSize</key>
                <string>{167,32}</string>
                <key>textureRect</key>
                <string>{{1576,201},{167,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tax_title_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,32}</string>
                <key>spriteSourceSize</key>
                <string>{120,32}</string>
                <key>textureRect</key>
                <string>{{1213,470},{120,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,41}</string>
                <key>spriteSourceSize</key>
                <string>{130,41}</string>
                <key>textureRect</key>
                <string>{{1964,104},{130,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>title_withdraw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,39}</string>
                <key>spriteSourceSize</key>
                <string>{82,39}</string>
                <key>textureRect</key>
                <string>{{1812,424},{82,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Promoter.png</string>
            <key>size</key>
            <string>{2033,564}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d30702ad227a2af5474622905b80216:f4a2b894a373fc4b1259f917d15beee4:6d9d6414ee51b25d65ab2005fc0a378c$</string>
            <key>textureFileName</key>
            <string>Promoter.png</string>
        </dict>
    </dict>
</plist>
