<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>VIPICON.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,102}</string>
                <key>spriteSourceSize</key>
                <string>{119,102}</string>
                <key>textureRect</key>
                <string>{{820,436},{119,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>VIP_Vip.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,49}</string>
                <key>spriteSourceSize</key>
                <string>{90,49}</string>
                <key>textureRect</key>
                <string>{{512,1151},{90,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vip_ButtonSuperscript.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{86,44}</string>
                <key>spriteSourceSize</key>
                <string>{94,46}</string>
                <key>textureRect</key>
                <string>{{730,1155},{86,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vip_ContentBg.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,65}</string>
                <key>spriteSourceSize</key>
                <string>{67,65}</string>
                <key>textureRect</key>
                <string>{{685,1082},{67,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vip_JiHuoVip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,48}</string>
                <key>spriteSourceSize</key>
                <string>{125,48}</string>
                <key>textureRect</key>
                <string>{{820,540},{125,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vip_KeLingFanDian1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{50,54}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{214,1019},{50,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vip_KeLingFanDian2.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,39}</string>
                <key>spriteSourceSize</key>
                <string>{136,39}</string>
                <key>textureRect</key>
                <string>{{870,590},{136,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Vip_LeveBg.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,255}</string>
                <key>spriteSourceSize</key>
                <string>{196,255}</string>
                <key>textureRect</key>
                <string>{{1,806},{196,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vip_LingQuFanDian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{148,42}</string>
                <key>spriteSourceSize</key>
                <string>{150,44}</string>
                <key>textureRect</key>
                <string>{{1,1129},{148,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vip_MingXi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{58,34}</string>
                <key>spriteSourceSize</key>
                <string>{116,36}</string>
                <key>textureRect</key>
                <string>{{694,1149},{58,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Vip_MingXi1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,48}</string>
                <key>spriteSourceSize</key>
                <string>{98,50}</string>
                <key>textureRect</key>
                <string>{{414,1151},{96,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vip_PointDetailline.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,44}</string>
                <key>spriteSourceSize</key>
                <string>{4,44}</string>
                <key>textureRect</key>
                <string>{{233,1203},{4,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Vip_Recharge.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,42}</string>
                <key>spriteSourceSize</key>
                <string>{80,42}</string>
                <key>textureRect</key>
                <string>{{151,1129},{80,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vip_TopToggle1.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,64}</string>
                <key>spriteSourceSize</key>
                <string>{211,64}</string>
                <key>textureRect</key>
                <string>{{1,1063},{211,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vip_TopToggle2.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,65}</string>
                <key>spriteSourceSize</key>
                <string>{211,65}</string>
                <key>textureRect</key>
                <string>{{199,806},{211,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Vip_WeiJiHuo.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,29}</string>
                <key>spriteSourceSize</key>
                <string>{93,29}</string>
                <key>textureRect</key>
                <string>{{668,772},{93,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vip_ZhuJieMian_TEQUAN3.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,42}</string>
                <key>spriteSourceSize</key>
                <string>{44,42}</string>
                <key>textureRect</key>
                <string>{{214,1075},{44,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vip_bg1.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,36}</string>
                <key>spriteSourceSize</key>
                <string>{47,36}</string>
                <key>textureRect</key>
                <string>{{910,1167},{47,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,433}</string>
                <key>spriteSourceSize</key>
                <string>{960,433}</string>
                <key>textureRect</key>
                <string>{{1,1},{960,433}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_charge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,48}</string>
                <key>spriteSourceSize</key>
                <string>{125,48}</string>
                <key>textureRect</key>
                <string>{{595,1032},{125,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttom_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{563,60}</string>
                <key>spriteSourceSize</key>
                <string>{563,60}</string>
                <key>textureRect</key>
                <string>{{963,1},{563,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_zongfandian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,34}</string>
                <key>spriteSourceSize</key>
                <string>{92,36}</string>
                <key>textureRect</key>
                <string>{{1,1173},{90,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_keling.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,25}</string>
                <key>spriteSourceSize</key>
                <string>{90,25}</string>
                <key>textureRect</key>
                <string>{{818,1155},{90,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_VIP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,34}</string>
                <key>spriteSourceSize</key>
                <string>{180,46}</string>
                <key>textureRect</key>
                <string>{{93,1173},{74,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_fandian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,34}</string>
                <key>spriteSourceSize</key>
                <string>{63,36}</string>
                <key>textureRect</key>
                <string>{{919,880},{61,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_fandian01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{145,30}</string>
                <key>spriteSourceSize</key>
                <string>{147,38}</string>
                <key>textureRect</key>
                <string>{{613,968},{145,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_fandian02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{145,30}</string>
                <key>spriteSourceSize</key>
                <string>{147,38}</string>
                <key>textureRect</key>
                <string>{{911,590},{145,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txt_sj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,34}</string>
                <key>spriteSourceSize</key>
                <string>{64,36}</string>
                <key>textureRect</key>
                <string>{{169,1173},{62,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_time.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,34}</string>
                <key>spriteSourceSize</key>
                <string>{61,36}</string>
                <key>textureRect</key>
                <string>{{933,1131},{59,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_xima01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,30}</string>
                <key>spriteSourceSize</key>
                <string>{144,38}</string>
                <key>textureRect</key>
                <string>{{595,1000},{144,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_xima02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,30}</string>
                <key>spriteSourceSize</key>
                <string>{146,38}</string>
                <key>textureRect</key>
                <string>{{838,590},{146,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vip di.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,22}</string>
                <key>spriteSourceSize</key>
                <string>{38,22}</string>
                <key>textureRect</key>
                <string>{{741,1000},{38,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vip1.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{943,679},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip10.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,57}</string>
                <key>spriteSourceSize</key>
                <string>{89,57}</string>
                <key>textureRect</key>
                <string>{{233,1144},{89,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip11.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,57}</string>
                <key>spriteSourceSize</key>
                <string>{69,57}</string>
                <key>textureRect</key>
                <string>{{933,1072},{69,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip12.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,57}</string>
                <key>spriteSourceSize</key>
                <string>{88,57}</string>
                <key>textureRect</key>
                <string>{{324,1144},{88,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip13.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,57}</string>
                <key>spriteSourceSize</key>
                <string>{88,57}</string>
                <key>textureRect</key>
                <string>{{604,1149},{88,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip2.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,65}</string>
                <key>spriteSourceSize</key>
                <string>{87,65}</string>
                <key>textureRect</key>
                <string>{{844,1088},{87,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip3.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,65}</string>
                <key>spriteSourceSize</key>
                <string>{87,65}</string>
                <key>textureRect</key>
                <string>{{943,590},{87,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vip4.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,65}</string>
                <key>spriteSourceSize</key>
                <string>{85,65}</string>
                <key>textureRect</key>
                <string>{{928,1005},{85,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip5.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,65}</string>
                <key>spriteSourceSize</key>
                <string>{88,65}</string>
                <key>textureRect</key>
                <string>{{595,1082},{88,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip6.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,65}</string>
                <key>spriteSourceSize</key>
                <string>{87,65}</string>
                <key>textureRect</key>
                <string>{{919,746},{87,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip7.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,65}</string>
                <key>spriteSourceSize</key>
                <string>{87,65}</string>
                <key>textureRect</key>
                <string>{{919,813},{87,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip8.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,65}</string>
                <key>spriteSourceSize</key>
                <string>{88,65}</string>
                <key>textureRect</key>
                <string>{{754,1088},{88,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip9.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,65}</string>
                <key>spriteSourceSize</key>
                <string>{87,65}</string>
                <key>textureRect</key>
                <string>{{928,916},{87,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vip_0.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{153,207}</string>
                <key>spriteSourceSize</key>
                <string>{155,211}</string>
                <key>textureRect</key>
                <string>{{611,436},{153,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vip_1.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,163}</string>
                <key>spriteSourceSize</key>
                <string>{150,163}</string>
                <key>textureRect</key>
                <string>{{613,803},{150,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip_10.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,193}</string>
                <key>spriteSourceSize</key>
                <string>{202,193}</string>
                <key>textureRect</key>
                <string>{{306,620},{202,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip_11.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,182}</string>
                <key>spriteSourceSize</key>
                <string>{303,182}</string>
                <key>textureRect</key>
                <string>{{1,622},{303,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip_12.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,184}</string>
                <key>spriteSourceSize</key>
                <string>{303,184}</string>
                <key>textureRect</key>
                <string>{{1,436},{303,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip_13.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,182}</string>
                <key>spriteSourceSize</key>
                <string>{303,182}</string>
                <key>textureRect</key>
                <string>{{306,436},{303,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip_2.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,163}</string>
                <key>spriteSourceSize</key>
                <string>{152,163}</string>
                <key>textureRect</key>
                <string>{{765,772},{152,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip_3.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,161}</string>
                <key>spriteSourceSize</key>
                <string>{149,161}</string>
                <key>textureRect</key>
                <string>{{765,937},{149,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vip_4.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,162}</string>
                <key>spriteSourceSize</key>
                <string>{158,162}</string>
                <key>textureRect</key>
                <string>{{431,991},{158,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vip_5.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,163}</string>
                <key>spriteSourceSize</key>
                <string>{158,163}</string>
                <key>textureRect</key>
                <string>{{266,984},{158,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vip_6.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,165}</string>
                <key>spriteSourceSize</key>
                <string>{174,165}</string>
                <key>textureRect</key>
                <string>{{446,815},{174,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vip_7.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,156}</string>
                <key>spriteSourceSize</key>
                <string>{181,156}</string>
                <key>textureRect</key>
                <string>{{510,620},{181,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vip_8.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,167}</string>
                <key>spriteSourceSize</key>
                <string>{178,167}</string>
                <key>textureRect</key>
                <string>{{266,815},{178,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip_9.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,168}</string>
                <key>spriteSourceSize</key>
                <string>{179,168}</string>
                <key>textureRect</key>
                <string>{{668,591},{179,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>VIP.png</string>
            <key>size</key>
            <string>{1024,1208}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11f873816430b90edd30168efc99055c:e93a00c2bbc680ffea8c37352649398a:0623473abaa80f9deabbe7c7ec41ad85$</string>
            <key>textureFileName</key>
            <string>VIP.png</string>
        </dict>
    </dict>
</plist>
