<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ChargeType_1.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,53}</string>
                <key>spriteSourceSize</key>
                <string>{51,53}</string>
                <key>textureRect</key>
                <string>{{235,55},{51,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ChargeType_2.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{290,55},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ChargeType_3.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,48}</string>
                <key>spriteSourceSize</key>
                <string>{47,48}</string>
                <key>textureRect</key>
                <string>{{395,55},{47,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ChargeType_4.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,49}</string>
                <key>spriteSourceSize</key>
                <string>{48,49}</string>
                <key>textureRect</key>
                <string>{{344,55},{48,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ChargeType_5.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,53}</string>
                <key>spriteSourceSize</key>
                <string>{52,53}</string>
                <key>textureRect</key>
                <string>{{180,55},{52,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Desc1.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{765,52}</string>
                <key>spriteSourceSize</key>
                <string>{765,52}</string>
                <key>textureRect</key>
                <string>{{1,1},{765,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FlagBg2.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,23}</string>
                <key>spriteSourceSize</key>
                <string>{78,23}</string>
                <key>textureRect</key>
                <string>{{100,55},{78,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Seperator.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,2}</string>
                <key>spriteSourceSize</key>
                <string>{40,2}</string>
                <key>textureRect</key>
                <string>{{100,80},{40,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>StarBg.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{445,55},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>StarFore.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{490,55},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huiditiao.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,112}</string>
                <key>spriteSourceSize</key>
                <string>{76,112}</string>
                <key>textureRect</key>
                <string>{{768,1},{76,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qipao.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{97,52}</string>
                <key>spriteSourceSize</key>
                <string>{103,52}</string>
                <key>textureRect</key>
                <string>{{1,55},{97,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weidu.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{535,55},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>vippay.png</string>
            <key>size</key>
            <string>{881,108}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6954a8a2c52623fe5a3ace4cd282fd05:32f71f530e8ab866e355e146d1883cc9:f382fba2c4651526fbf82573b53241ec$</string>
            <key>textureFileName</key>
            <string>vippay.png</string>
        </dict>
    </dict>
</plist>
