<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DH_difeilv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,65}</string>
                <key>spriteSourceSize</key>
                <string>{60,65}</string>
                <key>textureRect</key>
                <string>{{186,268},{60,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{62,64}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{188,202},{62,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_text_100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{54,28}</string>
                <key>spriteSourceSize</key>
                <string>{92,30}</string>
                <key>textureRect</key>
                <string>{{196,332},{54,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_text_1000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,28}</string>
                <key>spriteSourceSize</key>
                <string>{92,30}</string>
                <key>textureRect</key>
                <string>{{36,300},{72,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_text_10000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,28}</string>
                <key>spriteSourceSize</key>
                <string>{92,30}</string>
                <key>textureRect</key>
                <string>{{102,332},{90,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_text_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,30}</string>
                <key>spriteSourceSize</key>
                <string>{92,30}</string>
                <key>textureRect</key>
                <string>{{68,332},{40,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_text_OK.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{96,42}</string>
                <key>spriteSourceSize</key>
                <string>{150,44}</string>
                <key>textureRect</key>
                <string>{{210,2},{96,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_text_bind.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{48,28}</string>
                <key>spriteSourceSize</key>
                <string>{92,30}</string>
                <key>textureRect</key>
                <string>{{2,146},{48,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_text_bind_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{96,42}</string>
                <key>spriteSourceSize</key>
                <string>{150,44}</string>
                <key>textureRect</key>
                <string>{{210,102},{96,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_text_max.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{48,28}</string>
                <key>spriteSourceSize</key>
                <string>{92,30}</string>
                <key>textureRect</key>
                <string>{{34,146},{48,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_text_record.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{92,28}</string>
                <key>spriteSourceSize</key>
                <string>{92,30}</string>
                <key>textureRect</key>
                <string>{{68,300},{92,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_clean.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{158,146},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_trangle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{34,26}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{180,98},{34,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tab_text_yhk_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{148,30}</string>
                <key>spriteSourceSize</key>
                <string>{150,30}</string>
                <key>textureRect</key>
                <string>{{2,202},{148,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tab_text_yhk_unselect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{148,30}</string>
                <key>spriteSourceSize</key>
                <string>{150,30}</string>
                <key>textureRect</key>
                <string>{{36,198},{148,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_text_zfb_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{146,30}</string>
                <key>spriteSourceSize</key>
                <string>{150,30}</string>
                <key>textureRect</key>
                <string>{{36,232},{146,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_text_zfb_unselect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,30}</string>
                <key>spriteSourceSize</key>
                <string>{150,30}</string>
                <key>textureRect</key>
                <string>{{36,266},{146,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_bind_yhk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{204,44}</string>
                <key>spriteSourceSize</key>
                <string>{230,64}</string>
                <key>textureRect</key>
                <string>{{2,2},{204,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_bind_zfb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{204,44}</string>
                <key>spriteSourceSize</key>
                <string>{230,64}</string>
                <key>textureRect</key>
                <string>{{2,50},{204,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_record.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{174,44}</string>
                <key>spriteSourceSize</key>
                <string>{180,46}</string>
                <key>textureRect</key>
                <string>{{2,98},{174,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_withdraw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{88,44}</string>
                <key>spriteSourceSize</key>
                <string>{180,46}</string>
                <key>textureRect</key>
                <string>{{66,146},{88,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Withdraw.png</string>
            <key>size</key>
            <string>{254,374}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ffb5a43a8c48b99650b0bf14193872fd:94bf690fa7f5b3522066cbc919ab348c:c13ab8800cbc8a2464ec2976086fed70$</string>
            <key>textureFileName</key>
            <string>Withdraw.png</string>
        </dict>
    </dict>
</plist>
