<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_all_in.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,48}</string>
                <key>spriteSourceSize</key>
                <string>{116,48}</string>
                <key>textureRect</key>
                <string>{{177,462},{116,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>he-fanguang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,126}</string>
                <key>spriteSourceSize</key>
                <string>{222,126}</string>
                <key>textureRect</key>
                <string>{{1013,2},{222,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>he-kuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,118}</string>
                <key>spriteSourceSize</key>
                <string>{208,120}</string>
                <key>textureRect</key>
                <string>{{313,175},{208,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hu-dibu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,126}</string>
                <key>spriteSourceSize</key>
                <string>{558,126}</string>
                <key>textureRect</key>
                <string>{{574,284},{558,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_dragon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,278}</string>
                <key>spriteSourceSize</key>
                <string>{270,278}</string>
                <key>textureRect</key>
                <string>{{574,2},{270,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_tiger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,316}</string>
                <key>spriteSourceSize</key>
                <string>{307,316}</string>
                <key>textureRect</key>
                <string>{{2,2},{307,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,5}</string>
                <key>spriteSize</key>
                <string>{30,24}</string>
                <key>spriteSourceSize</key>
                <string>{38,34}</string>
                <key>textureRect</key>
                <string>{{763,414},{30,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lh-faguang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,200}</string>
                <key>spriteSourceSize</key>
                <string>{161,200}</string>
                <key>textureRect</key>
                <string>{{848,2},{161,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lh-kuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,187}</string>
                <key>spriteSourceSize</key>
                <string>{169,189}</string>
                <key>textureRect</key>
                <string>{{313,2},{169,187}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>long-dibu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{568,136}</string>
                <key>spriteSourceSize</key>
                <string>{568,136}</string>
                <key>textureRect</key>
                <string>{{2,322},{568,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longhudou-zoushiditu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,31}</string>
                <key>spriteSourceSize</key>
                <string>{57,31}</string>
                <key>textureRect</key>
                <string>{{709,478},{57,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{88,28}</string>
                <key>spriteSourceSize</key>
                <string>{88,30}</string>
                <key>textureRect</key>
                <string>{{671,414},{88,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{88,28}</string>
                <key>spriteSourceSize</key>
                <string>{88,30}</string>
                <key>textureRect</key>
                <string>{{709,446},{88,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_allin_dragon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,29}</string>
                <key>spriteSourceSize</key>
                <string>{97,29}</string>
                <key>textureRect</key>
                <string>{{527,462},{97,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_allin_tiger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,28}</string>
                <key>spriteSourceSize</key>
                <string>{93,28}</string>
                <key>textureRect</key>
                <string>{{574,414},{93,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_dragon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{106,84}</string>
                <key>spriteSourceSize</key>
                <string>{106,86}</string>
                <key>textureRect</key>
                <string>{{1033,414},{106,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_he.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{77,57}</string>
                <key>spriteSourceSize</key>
                <string>{77,59}</string>
                <key>textureRect</key>
                <string>{{628,446},{77,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_tiger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{109,86}</string>
                <key>spriteSourceSize</key>
                <string>{109,88}</string>
                <key>textureRect</key>
                <string>{{920,414},{109,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_tip_bet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{126,42}</string>
                <key>spriteSourceSize</key>
                <string>{170,44}</string>
                <key>textureRect</key>
                <string>{{297,462},{126,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,41}</string>
                <key>spriteSourceSize</key>
                <string>{171,41}</string>
                <key>textureRect</key>
                <string>{{2,462},{171,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,115}</string>
                <key>spriteSourceSize</key>
                <string>{89,115}</string>
                <key>textureRect</key>
                <string>{{801,414},{89,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zijitouzhu-diban.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,34}</string>
                <key>spriteSourceSize</key>
                <string>{96,34}</string>
                <key>textureRect</key>
                <string>{{427,462},{96,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>DvsT.png</string>
            <key>size</key>
            <string>{1141,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6e61db35422f7ff4393db1ffe88e57e:a98a1167d48dc29b99badbc289b1354c:b89ac4eab26bc672673db04aa6cd7d2c$</string>
            <key>textureFileName</key>
            <string>DvsT.png</string>
        </dict>
    </dict>
</plist>
