<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HHDZ_zoushi_pailudadi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,55}</string>
                <key>spriteSourceSize</key>
                <string>{181,55}</string>
                <key>textureRect</key>
                <string>{{2,193},{181,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LHD_BTN_pailu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,42}</string>
                <key>spriteSourceSize</key>
                <string>{77,42}</string>
                <key>textureRect</key>
                <string>{{2,404},{77,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LHD_he.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,21}</string>
                <key>spriteSourceSize</key>
                <string>{22,21}</string>
                <key>textureRect</key>
                <string>{{229,404},{22,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LHD_jinbidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,40}</string>
                <key>spriteSourceSize</key>
                <string>{151,40}</string>
                <key>textureRect</key>
                <string>{{2,252},{151,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LHD_longhuzoushi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{208,51}</string>
                <key>spriteSourceSize</key>
                <string>{216,53}</string>
                <key>textureRect</key>
                <string>{{2,48},{208,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LHD_recordback.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,41}</string>
                <key>spriteSourceSize</key>
                <string>{47,41}</string>
                <key>textureRect</key>
                <string>{{2,485},{47,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LHD_taizhuo_jinbidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,29}</string>
                <key>spriteSourceSize</key>
                <string>{53,29}</string>
                <key>textureRect</key>
                <string>{{187,225},{53,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LHD_ziyuandi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,40}</string>
                <key>spriteSourceSize</key>
                <string>{193,40}</string>
                <key>textureRect</key>
                <string>{{2,149},{193,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LHD_zoushi_ICON_he.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,40}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{91,395},{38,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LHD_zoushi_ICON_hu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{47,485},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LHD_zoushi_ICON_long.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{199,149},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LHD_zoushi_baihu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{169,404},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LHD_zoushi_bailong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{199,404},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LHD_zoushi_da6ge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,242}</string>
                <key>spriteSourceSize</key>
                <string>{42,242}</string>
                <key>textureRect</key>
                <string>{{2,2},{42,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LHD_zoushi_dakuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,12}</string>
                <key>spriteSourceSize</key>
                <string>{19,12}</string>
                <key>textureRect</key>
                <string>{{127,327},{19,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LHD_zoushi_he.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{214,48},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LHD_zoushi_honggan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,26}</string>
                <key>spriteSourceSize</key>
                <string>{30,26}</string>
                <key>textureRect</key>
                <string>{{157,252},{30,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LHD_zoushi_honghu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,21}</string>
                <key>spriteSourceSize</key>
                <string>{22,21}</string>
                <key>textureRect</key>
                <string>{{229,429},{22,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LHD_zoushi_hongquan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{120,437},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LHD_zoushi_hongsedi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,40}</string>
                <key>spriteSourceSize</key>
                <string>{27,40}</string>
                <key>textureRect</key>
                <string>{{113,351},{27,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LHD_zoushi_hongsejindutiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,40}</string>
                <key>spriteSourceSize</key>
                <string>{107,40}</string>
                <key>textureRect</key>
                <string>{{2,351},{107,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LHD_zoushi_hongshiquan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{214,86},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LHD_zoushi_hu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{48,395},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LHD_zoushi_huangdian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,23}</string>
                <key>spriteSourceSize</key>
                <string>{24,23}</string>
                <key>textureRect</key>
                <string>{{187,258},{24,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LHD_zoushi_jin20ju.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,42}</string>
                <key>spriteSourceSize</key>
                <string>{201,42}</string>
                <key>textureRect</key>
                <string>{{2,103},{201,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LHD_zoushi_jushu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,21}</string>
                <key>spriteSourceSize</key>
                <string>{46,21}</string>
                <key>textureRect</key>
                <string>{{207,124},{44,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LHD_zoushi_landian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,23}</string>
                <key>spriteSourceSize</key>
                <string>{24,23}</string>
                <key>textureRect</key>
                <string>{{214,258},{24,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LHD_zoushi_langan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,26}</string>
                <key>spriteSourceSize</key>
                <string>{30,26}</string>
                <key>textureRect</key>
                <string>{{135,404},{30,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LHD_zoushi_lanlong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,21}</string>
                <key>spriteSourceSize</key>
                <string>{22,21}</string>
                <key>textureRect</key>
                <string>{{218,481},{22,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LHD_zoushi_lanquan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{129,473},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LHD_zoushi_lansedi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,40}</string>
                <key>spriteSourceSize</key>
                <string>{30,40}</string>
                <key>textureRect</key>
                <string>{{48,437},{30,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LHD_zoushi_lansejindutiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,40}</string>
                <key>spriteSourceSize</key>
                <string>{107,40}</string>
                <key>textureRect</key>
                <string>{{144,360},{107,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LHD_zoushi_lanshiquan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{82,437},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LHD_zoushi_long.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{91,475},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LHD_zoushi_lvdian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,23}</string>
                <key>spriteSourceSize</key>
                <string>{24,23}</string>
                <key>textureRect</key>
                <string>{{192,434},{24,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LHD_zoushi_lvhe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,25}</string>
                <key>spriteSourceSize</key>
                <string>{26,25}</string>
                <key>textureRect</key>
                <string>{{162,509},{26,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LHD_zoushi_lvhu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,23}</string>
                <key>spriteSourceSize</key>
                <string>{24,23}</string>
                <key>textureRect</key>
                <string>{{220,454},{24,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LHD_zoushi_lvlong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,23}</string>
                <key>spriteSourceSize</key>
                <string>{23,23}</string>
                <key>textureRect</key>
                <string>{{192,509},{23,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LHD_zoushi_lvsedi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,39}</string>
                <key>spriteSourceSize</key>
                <string>{107,39}</string>
                <key>textureRect</key>
                <string>{{146,317},{103,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LHD_zoushi_pailu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,27}</string>
                <key>spriteSourceSize</key>
                <string>{92,31}</string>
                <key>textureRect</key>
                <string>{{157,286},{92,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LHD_zoushi_paixingzoushi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,27}</string>
                <key>spriteSourceSize</key>
                <string>{140,31}</string>
                <key>textureRect</key>
                <string>{{2,296},{140,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LHD_zoushi_shenlvdian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,23}</string>
                <key>spriteSourceSize</key>
                <string>{24,23}</string>
                <key>textureRect</key>
                <string>{{191,481},{24,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LHD_zoushi_xiajuhu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,21}</string>
                <key>spriteSourceSize</key>
                <string>{69,21}</string>
                <key>textureRect</key>
                <string>{{91,513},{67,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LHD_zoushi_xiajulong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,22}</string>
                <key>spriteSourceSize</key>
                <string>{69,22}</string>
                <key>textureRect</key>
                <string>{{165,434},{67,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LHD_zoushi_xiao3ge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,61}</string>
                <key>spriteSourceSize</key>
                <string>{20,61}</string>
                <key>textureRect</key>
                <string>{{187,201},{20,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LHD_zoushi_xiao6ge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,121}</string>
                <key>spriteSourceSize</key>
                <string>{20,121}</string>
                <key>textureRect</key>
                <string>{{2,327},{20,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tigerVsDragon.png</string>
            <key>size</key>
            <string>{253,536}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a8f77c24ea0317966cd4e93a89901ae:e6b74c2b1af4f717782b0ae1d05b32c5:79b84daad145100bf61c81d7c7146c8b$</string>
            <key>textureFileName</key>
            <string>tigerVsDragon.png</string>
        </dict>
    </dict>
</plist>
