<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,35}</string>
                <key>spriteSourceSize</key>
                <string>{75,35}</string>
                <key>textureRect</key>
                <string>{{1,1},{75,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,35}</string>
                <key>spriteSourceSize</key>
                <string>{75,35}</string>
                <key>textureRect</key>
                <string>{{1,38},{75,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,35}</string>
                <key>spriteSourceSize</key>
                <string>{75,35}</string>
                <key>textureRect</key>
                <string>{{78,1},{75,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,35}</string>
                <key>spriteSourceSize</key>
                <string>{75,35}</string>
                <key>textureRect</key>
                <string>{{1,75},{75,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,35}</string>
                <key>spriteSourceSize</key>
                <string>{75,35}</string>
                <key>textureRect</key>
                <string>{{1,112},{75,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,35}</string>
                <key>spriteSourceSize</key>
                <string>{75,35}</string>
                <key>textureRect</key>
                <string>{{78,78},{75,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,35}</string>
                <key>spriteSourceSize</key>
                <string>{75,35}</string>
                <key>textureRect</key>
                <string>{{1,149},{75,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,35}</string>
                <key>spriteSourceSize</key>
                <string>{75,35}</string>
                <key>textureRect</key>
                <string>{{1,186},{75,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>0.png</string>
            <key>size</key>
            <string>{114,222}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f836007238ddcbd6e1182e8a00ae41a2:061cdf83a1e84d83edb1ed93a5770ddf:6a742f82625aa3c6c9ec5692622f5fbd$</string>
            <key>textureFileName</key>
            <string>0.png</string>
        </dict>
    </dict>
</plist>
