<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,71}</string>
                <key>spriteSourceSize</key>
                <string>{165,71}</string>
                <key>textureRect</key>
                <string>{{1,1},{165,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,71}</string>
                <key>spriteSourceSize</key>
                <string>{165,71}</string>
                <key>textureRect</key>
                <string>{{1,74},{165,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,71}</string>
                <key>spriteSourceSize</key>
                <string>{165,71}</string>
                <key>textureRect</key>
                <string>{{168,1},{165,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,71}</string>
                <key>spriteSourceSize</key>
                <string>{165,71}</string>
                <key>textureRect</key>
                <string>{{1,147},{165,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,71}</string>
                <key>spriteSourceSize</key>
                <string>{165,71}</string>
                <key>textureRect</key>
                <string>{{1,220},{165,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,71}</string>
                <key>spriteSourceSize</key>
                <string>{165,71}</string>
                <key>textureRect</key>
                <string>{{168,168},{165,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,71}</string>
                <key>spriteSourceSize</key>
                <string>{165,71}</string>
                <key>textureRect</key>
                <string>{{1,293},{165,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,71}</string>
                <key>spriteSourceSize</key>
                <string>{165,71}</string>
                <key>textureRect</key>
                <string>{{1,366},{165,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>10.png</string>
            <key>size</key>
            <string>{240,438}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9cd61f0cd1ccc462d2ed1e2506304ce:69df19cd5fce2dc9730f14beb338de22:00eb27f73d45d244ad450fabf02c9a9b$</string>
            <key>textureFileName</key>
            <string>10.png</string>
        </dict>
    </dict>
</plist>
