<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,130}</string>
                <key>spriteSourceSize</key>
                <string>{140,130}</string>
                <key>textureRect</key>
                <string>{{1,1},{140,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,130}</string>
                <key>spriteSourceSize</key>
                <string>{140,130}</string>
                <key>textureRect</key>
                <string>{{143,1},{140,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,130}</string>
                <key>spriteSourceSize</key>
                <string>{140,130}</string>
                <key>textureRect</key>
                <string>{{285,1},{140,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,130}</string>
                <key>spriteSourceSize</key>
                <string>{140,130}</string>
                <key>textureRect</key>
                <string>{{1,133},{140,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,130}</string>
                <key>spriteSourceSize</key>
                <string>{140,130}</string>
                <key>textureRect</key>
                <string>{{143,133},{140,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,130}</string>
                <key>spriteSourceSize</key>
                <string>{140,130}</string>
                <key>textureRect</key>
                <string>{{285,143},{140,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,130}</string>
                <key>spriteSourceSize</key>
                <string>{140,130}</string>
                <key>textureRect</key>
                <string>{{1,265},{140,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,130}</string>
                <key>spriteSourceSize</key>
                <string>{140,130}</string>
                <key>textureRect</key>
                <string>{{143,265},{140,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>11.png</string>
            <key>size</key>
            <string>{416,396}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36d3262c08f889e715939282a5bba396:86554d84200301fe34e4325892a2fd14:858e50caa60b1aa72adf72e171d4b558$</string>
            <key>textureFileName</key>
            <string>11.png</string>
        </dict>
    </dict>
</plist>
