<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,100}</string>
                <key>spriteSourceSize</key>
                <string>{308,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{308,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,100}</string>
                <key>spriteSourceSize</key>
                <string>{308,100}</string>
                <key>textureRect</key>
                <string>{{1,103},{308,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,100}</string>
                <key>spriteSourceSize</key>
                <string>{308,100}</string>
                <key>textureRect</key>
                <string>{{311,1},{308,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,100}</string>
                <key>spriteSourceSize</key>
                <string>{308,100}</string>
                <key>textureRect</key>
                <string>{{311,103},{308,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,100}</string>
                <key>spriteSourceSize</key>
                <string>{308,100}</string>
                <key>textureRect</key>
                <string>{{621,1},{308,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,100}</string>
                <key>spriteSourceSize</key>
                <string>{308,100}</string>
                <key>textureRect</key>
                <string>{{621,103},{308,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,100}</string>
                <key>spriteSourceSize</key>
                <string>{308,100}</string>
                <key>textureRect</key>
                <string>{{931,1},{308,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,100}</string>
                <key>spriteSourceSize</key>
                <string>{308,100}</string>
                <key>textureRect</key>
                <string>{{931,103},{308,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>15.png</string>
            <key>size</key>
            <string>{1240,204}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fcb109fc011e8913cbff80f95cfa904c:f0292b1bb20ca9b96dc5c39437bf29f1:64ea5a23ff70e32fc80c9c845b61c0d6$</string>
            <key>textureFileName</key>
            <string>15.png</string>
        </dict>
    </dict>
</plist>
