<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,220}</string>
                <key>spriteSourceSize</key>
                <string>{185,220}</string>
                <key>textureRect</key>
                <string>{{1,1},{185,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,220}</string>
                <key>spriteSourceSize</key>
                <string>{185,220}</string>
                <key>textureRect</key>
                <string>{{188,1},{185,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,220}</string>
                <key>spriteSourceSize</key>
                <string>{185,220}</string>
                <key>textureRect</key>
                <string>{{375,1},{185,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,220}</string>
                <key>spriteSourceSize</key>
                <string>{185,220}</string>
                <key>textureRect</key>
                <string>{{562,1},{185,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,220}</string>
                <key>spriteSourceSize</key>
                <string>{185,220}</string>
                <key>textureRect</key>
                <string>{{749,1},{185,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,220}</string>
                <key>spriteSourceSize</key>
                <string>{185,220}</string>
                <key>textureRect</key>
                <string>{{936,1},{185,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,220}</string>
                <key>spriteSourceSize</key>
                <string>{185,220}</string>
                <key>textureRect</key>
                <string>{{1123,1},{185,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,220}</string>
                <key>spriteSourceSize</key>
                <string>{185,220}</string>
                <key>textureRect</key>
                <string>{{1310,1},{185,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>17.png</string>
            <key>size</key>
            <string>{1496,222}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c1765b133cdd51afc0de1eabdc92890:2844d8bbc4ff51f6173e8d4edbce4379:f172daef29350ed62c011ec47bfdfb92$</string>
            <key>textureFileName</key>
            <string>17.png</string>
        </dict>
    </dict>
</plist>
