<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,66}</string>
                <key>spriteSourceSize</key>
                <string>{260,66}</string>
                <key>textureRect</key>
                <string>{{1,1},{260,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,66}</string>
                <key>spriteSourceSize</key>
                <string>{260,66}</string>
                <key>textureRect</key>
                <string>{{263,1},{260,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,66}</string>
                <key>spriteSourceSize</key>
                <string>{260,66}</string>
                <key>textureRect</key>
                <string>{{1,69},{260,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,66}</string>
                <key>spriteSourceSize</key>
                <string>{260,66}</string>
                <key>textureRect</key>
                <string>{{69,69},{260,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,66}</string>
                <key>spriteSourceSize</key>
                <string>{260,66}</string>
                <key>textureRect</key>
                <string>{{137,69},{260,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,66}</string>
                <key>spriteSourceSize</key>
                <string>{260,66}</string>
                <key>textureRect</key>
                <string>{{205,263},{260,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,66}</string>
                <key>spriteSourceSize</key>
                <string>{260,66}</string>
                <key>textureRect</key>
                <string>{{331,1},{260,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,66}</string>
                <key>spriteSourceSize</key>
                <string>{260,66}</string>
                <key>textureRect</key>
                <string>{{399,1},{260,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>18.png</string>
            <key>size</key>
            <string>{466,330}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18cb0d9481ac46d2bd124e968b38dc6b:1620b0e6b62926bc576621e0b4d556b1:a88ffd6b48d19c737d12fbb2d3b3d3ef$</string>
            <key>textureFileName</key>
            <string>18.png</string>
        </dict>
    </dict>
</plist>
