<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{475,190}</string>
                <key>spriteSourceSize</key>
                <string>{475,190}</string>
                <key>textureRect</key>
                <string>{{1,1},{475,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{475,190}</string>
                <key>spriteSourceSize</key>
                <string>{475,190}</string>
                <key>textureRect</key>
                <string>{{478,1},{475,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{475,190}</string>
                <key>spriteSourceSize</key>
                <string>{475,190}</string>
                <key>textureRect</key>
                <string>{{955,1},{475,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{475,190}</string>
                <key>spriteSourceSize</key>
                <string>{475,190}</string>
                <key>textureRect</key>
                <string>{{1432,1},{475,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{475,190}</string>
                <key>spriteSourceSize</key>
                <string>{475,190}</string>
                <key>textureRect</key>
                <string>{{1,193},{475,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{475,190}</string>
                <key>spriteSourceSize</key>
                <string>{475,190}</string>
                <key>textureRect</key>
                <string>{{478,193},{475,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{475,190}</string>
                <key>spriteSourceSize</key>
                <string>{475,190}</string>
                <key>textureRect</key>
                <string>{{955,193},{475,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{475,190}</string>
                <key>spriteSourceSize</key>
                <string>{475,190}</string>
                <key>textureRect</key>
                <string>{{1432,193},{475,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>20.png</string>
            <key>size</key>
            <string>{1908,384}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26b7a5f1f0f9c041cbf6112f0dd78d22:9259af30ed0a8fe87e186474b9318fe2:d8bb35a7ab4882b431a5a8b2dd823bba$</string>
            <key>textureFileName</key>
            <string>20.png</string>
        </dict>
    </dict>
</plist>
