<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,230}</string>
                <key>spriteSourceSize</key>
                <string>{520,230}</string>
                <key>textureRect</key>
                <string>{{1,1},{520,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,230}</string>
                <key>spriteSourceSize</key>
                <string>{520,230}</string>
                <key>textureRect</key>
                <string>{{523,1},{520,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,230}</string>
                <key>spriteSourceSize</key>
                <string>{520,230}</string>
                <key>textureRect</key>
                <string>{{1045,1},{520,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,230}</string>
                <key>spriteSourceSize</key>
                <string>{520,230}</string>
                <key>textureRect</key>
                <string>{{1277,1},{520,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,230}</string>
                <key>spriteSourceSize</key>
                <string>{520,230}</string>
                <key>textureRect</key>
                <string>{{1509,1},{520,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,230}</string>
                <key>spriteSourceSize</key>
                <string>{520,230}</string>
                <key>textureRect</key>
                <string>{{1741,1},{520,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,230}</string>
                <key>spriteSourceSize</key>
                <string>{520,230}</string>
                <key>textureRect</key>
                <string>{{1,233},{520,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,230}</string>
                <key>spriteSourceSize</key>
                <string>{520,230}</string>
                <key>textureRect</key>
                <string>{{523,233},{520,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,230}</string>
                <key>spriteSourceSize</key>
                <string>{520,230}</string>
                <key>textureRect</key>
                <string>{{755,233},{520,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,230}</string>
                <key>spriteSourceSize</key>
                <string>{520,230}</string>
                <key>textureRect</key>
                <string>{{1,465},{520,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,230}</string>
                <key>spriteSourceSize</key>
                <string>{520,230}</string>
                <key>textureRect</key>
                <string>{{233,465},{520,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,230}</string>
                <key>spriteSourceSize</key>
                <string>{520,230}</string>
                <key>textureRect</key>
                <string>{{987,523},{520,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,230}</string>
                <key>spriteSourceSize</key>
                <string>{520,230}</string>
                <key>textureRect</key>
                <string>{{1509,523},{520,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,230}</string>
                <key>spriteSourceSize</key>
                <string>{520,230}</string>
                <key>textureRect</key>
                <string>{{465,755},{520,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,230}</string>
                <key>spriteSourceSize</key>
                <string>{520,230}</string>
                <key>textureRect</key>
                <string>{{987,755},{520,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,230}</string>
                <key>spriteSourceSize</key>
                <string>{520,230}</string>
                <key>textureRect</key>
                <string>{{1509,755},{520,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>22.png</string>
            <key>size</key>
            <string>{2030,986}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d80f05def5664d8bff384feddd588ca8:13ecad1c4183c17948b5716595693d33:e5a84a3bf6be224d5505ac0b21f6aa41$</string>
            <key>textureFileName</key>
            <string>22.png</string>
        </dict>
    </dict>
</plist>
