<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,172}</string>
                <key>spriteSourceSize</key>
                <string>{478,172}</string>
                <key>textureRect</key>
                <string>{{1,1},{478,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,172}</string>
                <key>spriteSourceSize</key>
                <string>{478,172}</string>
                <key>textureRect</key>
                <string>{{481,1},{478,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,172}</string>
                <key>spriteSourceSize</key>
                <string>{478,172}</string>
                <key>textureRect</key>
                <string>{{961,1},{478,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,172}</string>
                <key>spriteSourceSize</key>
                <string>{478,172}</string>
                <key>textureRect</key>
                <string>{{1441,1},{478,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,172}</string>
                <key>spriteSourceSize</key>
                <string>{478,172}</string>
                <key>textureRect</key>
                <string>{{1,175},{478,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,172}</string>
                <key>spriteSourceSize</key>
                <string>{478,172}</string>
                <key>textureRect</key>
                <string>{{481,175},{478,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,172}</string>
                <key>spriteSourceSize</key>
                <string>{478,172}</string>
                <key>textureRect</key>
                <string>{{961,175},{478,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,172}</string>
                <key>spriteSourceSize</key>
                <string>{478,172}</string>
                <key>textureRect</key>
                <string>{{1441,175},{478,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>23.png</string>
            <key>size</key>
            <string>{1920,348}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0fa549382506c6e46a3c19dbbf197e07:defe7d9a78c5a6989094e1baf052ea21:6154434143aac487e6d80990bf0c0872$</string>
            <key>textureFileName</key>
            <string>23.png</string>
        </dict>
    </dict>
</plist>
