<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{510,190}</string>
                <key>spriteSourceSize</key>
                <string>{510,190}</string>
                <key>textureRect</key>
                <string>{{1,1},{510,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{510,190}</string>
                <key>spriteSourceSize</key>
                <string>{510,190}</string>
                <key>textureRect</key>
                <string>{{513,1},{510,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{510,190}</string>
                <key>spriteSourceSize</key>
                <string>{510,190}</string>
                <key>textureRect</key>
                <string>{{1025,1},{510,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{510,190}</string>
                <key>spriteSourceSize</key>
                <string>{510,190}</string>
                <key>textureRect</key>
                <string>{{1537,1},{510,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{510,190}</string>
                <key>spriteSourceSize</key>
                <string>{510,190}</string>
                <key>textureRect</key>
                <string>{{1,193},{510,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{510,190}</string>
                <key>spriteSourceSize</key>
                <string>{510,190}</string>
                <key>textureRect</key>
                <string>{{513,193},{510,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{510,190}</string>
                <key>spriteSourceSize</key>
                <string>{510,190}</string>
                <key>textureRect</key>
                <string>{{1025,193},{510,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{510,190}</string>
                <key>spriteSourceSize</key>
                <string>{510,190}</string>
                <key>textureRect</key>
                <string>{{1537,193},{510,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>25.png</string>
            <key>size</key>
            <string>{2048,384}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:759c510443aef33c401f1e90559a7369:fce0432f92e688d215ba2f04d307543a:30cc21b4ce7921f8a1d428e54e7e1999$</string>
            <key>textureFileName</key>
            <string>25.png</string>
        </dict>
    </dict>
</plist>
