<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{509,392}</string>
                <key>spriteSourceSize</key>
                <string>{509,392}</string>
                <key>textureRect</key>
                <string>{{1,1},{509,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{509,392}</string>
                <key>spriteSourceSize</key>
                <string>{509,392}</string>
                <key>textureRect</key>
                <string>{{512,1},{509,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{509,392}</string>
                <key>spriteSourceSize</key>
                <string>{509,392}</string>
                <key>textureRect</key>
                <string>{{1023,1},{509,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{509,392}</string>
                <key>spriteSourceSize</key>
                <string>{509,392}</string>
                <key>textureRect</key>
                <string>{{1534,1},{509,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{509,392}</string>
                <key>spriteSourceSize</key>
                <string>{509,392}</string>
                <key>textureRect</key>
                <string>{{1,395},{509,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{509,392}</string>
                <key>spriteSourceSize</key>
                <string>{509,392}</string>
                <key>textureRect</key>
                <string>{{512,395},{509,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{509,392}</string>
                <key>spriteSourceSize</key>
                <string>{509,392}</string>
                <key>textureRect</key>
                <string>{{1023,395},{509,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{509,392}</string>
                <key>spriteSourceSize</key>
                <string>{509,392}</string>
                <key>textureRect</key>
                <string>{{1534,395},{509,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{509,392}</string>
                <key>spriteSourceSize</key>
                <string>{509,392}</string>
                <key>textureRect</key>
                <string>{{1,789},{509,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{509,392}</string>
                <key>spriteSourceSize</key>
                <string>{509,392}</string>
                <key>textureRect</key>
                <string>{{512,789},{509,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{509,392}</string>
                <key>spriteSourceSize</key>
                <string>{509,392}</string>
                <key>textureRect</key>
                <string>{{1023,789},{509,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{509,392}</string>
                <key>spriteSourceSize</key>
                <string>{509,392}</string>
                <key>textureRect</key>
                <string>{{1534,789},{509,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{509,392}</string>
                <key>spriteSourceSize</key>
                <string>{509,392}</string>
                <key>textureRect</key>
                <string>{{1,1183},{509,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{509,392}</string>
                <key>spriteSourceSize</key>
                <string>{509,392}</string>
                <key>textureRect</key>
                <string>{{512,1183},{509,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{509,392}</string>
                <key>spriteSourceSize</key>
                <string>{509,392}</string>
                <key>textureRect</key>
                <string>{{1023,1183},{509,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{509,392}</string>
                <key>spriteSourceSize</key>
                <string>{509,392}</string>
                <key>textureRect</key>
                <string>{{1534,1183},{509,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>26.png</string>
            <key>size</key>
            <string>{2044,1576}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f6c66e5b29f4dbc43a31b3ed47684d1:e2d6904833d53f60c427846d49795627:6314513e2992458f8963e822e05f6ef7$</string>
            <key>textureFileName</key>
            <string>26.png</string>
        </dict>
    </dict>
</plist>
