<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,294}</string>
                <key>spriteSourceSize</key>
                <string>{327,294}</string>
                <key>textureRect</key>
                <string>{{1,1},{327,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,294}</string>
                <key>spriteSourceSize</key>
                <string>{327,294}</string>
                <key>textureRect</key>
                <string>{{330,1},{327,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,294}</string>
                <key>spriteSourceSize</key>
                <string>{327,294}</string>
                <key>textureRect</key>
                <string>{{659,1},{327,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,294}</string>
                <key>spriteSourceSize</key>
                <string>{327,294}</string>
                <key>textureRect</key>
                <string>{{988,1},{327,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,294}</string>
                <key>spriteSourceSize</key>
                <string>{327,294}</string>
                <key>textureRect</key>
                <string>{{1317,1},{327,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,294}</string>
                <key>spriteSourceSize</key>
                <string>{327,294}</string>
                <key>textureRect</key>
                <string>{{1646,1},{327,294}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,294}</string>
                <key>spriteSourceSize</key>
                <string>{327,294}</string>
                <key>textureRect</key>
                <string>{{1,297},{327,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,294}</string>
                <key>spriteSourceSize</key>
                <string>{327,294}</string>
                <key>textureRect</key>
                <string>{{330,297},{327,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,294}</string>
                <key>spriteSourceSize</key>
                <string>{327,294}</string>
                <key>textureRect</key>
                <string>{{659,297},{327,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,294}</string>
                <key>spriteSourceSize</key>
                <string>{327,294}</string>
                <key>textureRect</key>
                <string>{{988,297},{327,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,294}</string>
                <key>spriteSourceSize</key>
                <string>{327,294}</string>
                <key>textureRect</key>
                <string>{{1317,297},{327,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,294}</string>
                <key>spriteSourceSize</key>
                <string>{327,294}</string>
                <key>textureRect</key>
                <string>{{1646,330},{327,294}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,294}</string>
                <key>spriteSourceSize</key>
                <string>{327,294}</string>
                <key>textureRect</key>
                <string>{{1,593},{327,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,294}</string>
                <key>spriteSourceSize</key>
                <string>{327,294}</string>
                <key>textureRect</key>
                <string>{{330,593},{327,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,294}</string>
                <key>spriteSourceSize</key>
                <string>{327,294}</string>
                <key>textureRect</key>
                <string>{{659,593},{327,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,294}</string>
                <key>spriteSourceSize</key>
                <string>{327,294}</string>
                <key>textureRect</key>
                <string>{{988,593},{327,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>31.png</string>
            <key>size</key>
            <string>{1941,888}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7372b22afe8b535716f1725e3511aec2:a78f3133df151b4e9b1582e91c61491a:6a18ad46092ca28067653c96f535633e$</string>
            <key>textureFileName</key>
            <string>31.png</string>
        </dict>
    </dict>
</plist>
