<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,248}</string>
                <key>spriteSourceSize</key>
                <string>{300,248}</string>
                <key>textureRect</key>
                <string>{{1,1},{300,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,248}</string>
                <key>spriteSourceSize</key>
                <string>{300,248}</string>
                <key>textureRect</key>
                <string>{{303,1},{300,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,248}</string>
                <key>spriteSourceSize</key>
                <string>{300,248}</string>
                <key>textureRect</key>
                <string>{{605,1},{300,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,248}</string>
                <key>spriteSourceSize</key>
                <string>{300,248}</string>
                <key>textureRect</key>
                <string>{{907,1},{300,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,248}</string>
                <key>spriteSourceSize</key>
                <string>{300,248}</string>
                <key>textureRect</key>
                <string>{{1209,1},{300,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,248}</string>
                <key>spriteSourceSize</key>
                <string>{300,248}</string>
                <key>textureRect</key>
                <string>{{1511,1},{300,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,248}</string>
                <key>spriteSourceSize</key>
                <string>{300,248}</string>
                <key>textureRect</key>
                <string>{{1,251},{300,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,248}</string>
                <key>spriteSourceSize</key>
                <string>{300,248}</string>
                <key>textureRect</key>
                <string>{{303,251},{300,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,248}</string>
                <key>spriteSourceSize</key>
                <string>{300,248}</string>
                <key>textureRect</key>
                <string>{{605,251},{300,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,248}</string>
                <key>spriteSourceSize</key>
                <string>{300,248}</string>
                <key>textureRect</key>
                <string>{{907,251},{300,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,248}</string>
                <key>spriteSourceSize</key>
                <string>{300,248}</string>
                <key>textureRect</key>
                <string>{{1209,251},{300,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,248}</string>
                <key>spriteSourceSize</key>
                <string>{300,248}</string>
                <key>textureRect</key>
                <string>{{1511,303},{300,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,248}</string>
                <key>spriteSourceSize</key>
                <string>{300,248}</string>
                <key>textureRect</key>
                <string>{{1,501},{300,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,248}</string>
                <key>spriteSourceSize</key>
                <string>{300,248}</string>
                <key>textureRect</key>
                <string>{{303,501},{300,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,248}</string>
                <key>spriteSourceSize</key>
                <string>{300,248}</string>
                <key>textureRect</key>
                <string>{{605,501},{300,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,248}</string>
                <key>spriteSourceSize</key>
                <string>{300,248}</string>
                <key>textureRect</key>
                <string>{{907,501},{300,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>33.png</string>
            <key>size</key>
            <string>{1760,750}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:897c1bce620ec461be494356e0fe0067:6b08f273d32a363d2c7dec20018cf0b0:f8863befaca9741221a82f32d2687e87$</string>
            <key>textureFileName</key>
            <string>33.png</string>
        </dict>
    </dict>
</plist>
