<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,313}</string>
                <key>spriteSourceSize</key>
                <string>{348,313}</string>
                <key>textureRect</key>
                <string>{{1,1},{348,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,313}</string>
                <key>spriteSourceSize</key>
                <string>{348,313}</string>
                <key>textureRect</key>
                <string>{{351,1},{348,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,313}</string>
                <key>spriteSourceSize</key>
                <string>{348,313}</string>
                <key>textureRect</key>
                <string>{{701,1},{348,313}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,313}</string>
                <key>spriteSourceSize</key>
                <string>{348,313}</string>
                <key>textureRect</key>
                <string>{{1,316},{348,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,313}</string>
                <key>spriteSourceSize</key>
                <string>{348,313}</string>
                <key>textureRect</key>
                <string>{{351,316},{348,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,313}</string>
                <key>spriteSourceSize</key>
                <string>{348,313}</string>
                <key>textureRect</key>
                <string>{{701,351},{348,313}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,313}</string>
                <key>spriteSourceSize</key>
                <string>{348,313}</string>
                <key>textureRect</key>
                <string>{{1,631},{348,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,313}</string>
                <key>spriteSourceSize</key>
                <string>{348,313}</string>
                <key>textureRect</key>
                <string>{{351,631},{348,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>34.png</string>
            <key>size</key>
            <string>{1015,945}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d53d575f55196b0825e54c6d6a91cb81:8bde65b9f80b9283f38cbdab2844cde9:99564e2c4634535dfa46e21ff357c9b8$</string>
            <key>textureFileName</key>
            <string>34.png</string>
        </dict>
    </dict>
</plist>
