<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,90}</string>
                <key>spriteSourceSize</key>
                <string>{130,90}</string>
                <key>textureRect</key>
                <string>{{1,1},{130,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,90}</string>
                <key>spriteSourceSize</key>
                <string>{130,90}</string>
                <key>textureRect</key>
                <string>{{133,1},{130,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,90}</string>
                <key>spriteSourceSize</key>
                <string>{130,90}</string>
                <key>textureRect</key>
                <string>{{1,93},{130,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,90}</string>
                <key>spriteSourceSize</key>
                <string>{130,90}</string>
                <key>textureRect</key>
                <string>{{133,133},{130,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,90}</string>
                <key>spriteSourceSize</key>
                <string>{130,90}</string>
                <key>textureRect</key>
                <string>{{1,185},{130,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,90}</string>
                <key>spriteSourceSize</key>
                <string>{130,90}</string>
                <key>textureRect</key>
                <string>{{133,265},{130,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,90}</string>
                <key>spriteSourceSize</key>
                <string>{130,90}</string>
                <key>textureRect</key>
                <string>{{1,277},{130,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,90}</string>
                <key>spriteSourceSize</key>
                <string>{130,90}</string>
                <key>textureRect</key>
                <string>{{1,369},{130,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>40.png</string>
            <key>size</key>
            <string>{224,460}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42fdffef97aa33291a8b62768597e9a7:d43bc42e104b5509e0c82107106b90e6:444a182621f16cec716d14048d11c84f$</string>
            <key>textureFileName</key>
            <string>40.png</string>
        </dict>
    </dict>
</plist>
