<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,95}</string>
                <key>spriteSourceSize</key>
                <string>{130,95}</string>
                <key>textureRect</key>
                <string>{{1,1},{130,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,95}</string>
                <key>spriteSourceSize</key>
                <string>{130,95}</string>
                <key>textureRect</key>
                <string>{{133,1},{130,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,95}</string>
                <key>spriteSourceSize</key>
                <string>{130,95}</string>
                <key>textureRect</key>
                <string>{{1,98},{130,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,95}</string>
                <key>spriteSourceSize</key>
                <string>{130,95}</string>
                <key>textureRect</key>
                <string>{{133,133},{130,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,95}</string>
                <key>spriteSourceSize</key>
                <string>{130,95}</string>
                <key>textureRect</key>
                <string>{{1,195},{130,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,95}</string>
                <key>spriteSourceSize</key>
                <string>{130,95}</string>
                <key>textureRect</key>
                <string>{{133,265},{130,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,95}</string>
                <key>spriteSourceSize</key>
                <string>{130,95}</string>
                <key>textureRect</key>
                <string>{{1,292},{130,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,95}</string>
                <key>spriteSourceSize</key>
                <string>{130,95}</string>
                <key>textureRect</key>
                <string>{{1,389},{130,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>42.png</string>
            <key>size</key>
            <string>{229,485}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88aec8d09764dd87a5f553ffbd40f109:5b8f4ced22d9146c5992dbb93e7de9bb:3dbf3d3afaed1c20d89045b1bedc9d2d$</string>
            <key>textureFileName</key>
            <string>42.png</string>
        </dict>
    </dict>
</plist>
