<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BY_YL_50-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,150}</string>
                <key>spriteSourceSize</key>
                <string>{138,150}</string>
                <key>textureRect</key>
                <string>{{1,474},{138,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BY_YL_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,133}</string>
                <key>spriteSourceSize</key>
                <string>{160,133}</string>
                <key>textureRect</key>
                <string>{{1,339},{160,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BY_YL_60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,139}</string>
                <key>spriteSourceSize</key>
                <string>{145,139}</string>
                <key>textureRect</key>
                <string>{{1,614},{145,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BY_YL_80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,152}</string>
                <key>spriteSourceSize</key>
                <string>{171,152}</string>
                <key>textureRect</key>
                <string>{{1,185},{171,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ywdj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,182}</string>
                <key>spriteSourceSize</key>
                <string>{182,182}</string>
                <key>textureRect</key>
                <string>{{1,1},{182,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Buyuhelp.png</string>
            <key>size</key>
            <string>{184,754}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67c4da56d1e0329c898fa643a06ade98:1da87bdab3ad666a5c83c23601afc1cb:cf0aefb1677c9d6527bfdaba453301a4$</string>
            <key>textureFileName</key>
            <string>Buyuhelp.png</string>
        </dict>
    </dict>
</plist>
