<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Poker_B_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,45}</string>
                <key>spriteSourceSize</key>
                <string>{41,45}</string>
                <key>textureRect</key>
                <string>{{253,184},{41,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Poker_B_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,45}</string>
                <key>spriteSourceSize</key>
                <string>{41,45}</string>
                <key>textureRect</key>
                <string>{{253,231},{19,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Poker_B_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{27,45}</string>
                <key>spriteSourceSize</key>
                <string>{41,45}</string>
                <key>textureRect</key>
                <string>{{957,189},{27,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Poker_B_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,45}</string>
                <key>spriteSourceSize</key>
                <string>{41,45}</string>
                <key>textureRect</key>
                <string>{{419,115},{35,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Poker_B_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{39,45}</string>
                <key>spriteSourceSize</key>
                <string>{41,45}</string>
                <key>textureRect</key>
                <string>{{337,115},{39,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Poker_B_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,45}</string>
                <key>spriteSourceSize</key>
                <string>{41,45}</string>
                <key>textureRect</key>
                <string>{{980,1},{29,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Poker_B_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{31,45}</string>
                <key>spriteSourceSize</key>
                <string>{41,45}</string>
                <key>textureRect</key>
                <string>{{703,112},{31,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Poker_B_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{33,45}</string>
                <key>spriteSourceSize</key>
                <string>{41,45}</string>
                <key>textureRect</key>
                <string>{{493,115},{33,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Poker_B_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,45}</string>
                <key>spriteSourceSize</key>
                <string>{41,45}</string>
                <key>textureRect</key>
                <string>{{980,48},{29,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Poker_B_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,45}</string>
                <key>spriteSourceSize</key>
                <string>{41,45}</string>
                <key>textureRect</key>
                <string>{{736,112},{31,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Poker_B_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{31,45}</string>
                <key>spriteSourceSize</key>
                <string>{41,45}</string>
                <key>textureRect</key>
                <string>{{769,111},{31,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Poker_B_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{33,45}</string>
                <key>spriteSourceSize</key>
                <string>{41,45}</string>
                <key>textureRect</key>
                <string>{{528,112},{33,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Poker_B_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{33,45}</string>
                <key>spriteSourceSize</key>
                <string>{41,45}</string>
                <key>textureRect</key>
                <string>{{563,112},{33,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Poker_Color_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,63}</string>
                <key>spriteSourceSize</key>
                <string>{64,63}</string>
                <key>textureRect</key>
                <string>{{1,185},{64,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Poker_Color_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,55}</string>
                <key>spriteSourceSize</key>
                <string>{64,63}</string>
                <key>textureRect</key>
                <string>{{196,184},{64,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Poker_Color_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,63}</string>
                <key>spriteSourceSize</key>
                <string>{64,63}</string>
                <key>textureRect</key>
                <string>{{66,185},{64,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Poker_Color_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,63}</string>
                <key>spriteSourceSize</key>
                <string>{64,63}</string>
                <key>textureRect</key>
                <string>{{131,185},{64,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Poker_JokerL_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,160}</string>
                <key>spriteSourceSize</key>
                <string>{25,160}</string>
                <key>textureRect</key>
                <string>{{283,1},{25,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Poker_JokerL_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,160}</string>
                <key>spriteSourceSize</key>
                <string>{25,160}</string>
                <key>textureRect</key>
                <string>{{310,1},{25,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Poker_JokerR_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,108}</string>
                <key>spriteSourceSize</key>
                <string>{77,108}</string>
                <key>textureRect</key>
                <string>{{565,159},{77,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Poker_JokerR_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,108}</string>
                <key>spriteSourceSize</key>
                <string>{77,108}</string>
                <key>textureRect</key>
                <string>{{675,159},{77,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Poker_RB_1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,109}</string>
                <key>spriteSourceSize</key>
                <string>{76,109}</string>
                <key>textureRect</key>
                <string>{{589,1},{76,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Poker_RB_1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,112}</string>
                <key>spriteSourceSize</key>
                <string>{85,112}</string>
                <key>textureRect</key>
                <string>{{337,1},{85,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Poker_RB_1_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,108}</string>
                <key>spriteSourceSize</key>
                <string>{77,108}</string>
                <key>textureRect</key>
                <string>{{744,1},{77,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Poker_RB_2_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,109}</string>
                <key>spriteSourceSize</key>
                <string>{77,109}</string>
                <key>textureRect</key>
                <string>{{510,1},{77,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Poker_RB_2_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,111}</string>
                <key>spriteSourceSize</key>
                <string>{84,111}</string>
                <key>textureRect</key>
                <string>{{452,162},{84,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Poker_RB_2_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,108}</string>
                <key>spriteSourceSize</key>
                <string>{76,108}</string>
                <key>textureRect</key>
                <string>{{901,111},{76,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Poker_RB_3_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,108}</string>
                <key>spriteSourceSize</key>
                <string>{77,108}</string>
                <key>textureRect</key>
                <string>{{785,158},{77,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Poker_RB_3_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,112}</string>
                <key>spriteSourceSize</key>
                <string>{84,112}</string>
                <key>textureRect</key>
                <string>{{424,1},{84,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Poker_RB_3_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,108}</string>
                <key>spriteSourceSize</key>
                <string>{77,108}</string>
                <key>textureRect</key>
                <string>{{823,1},{77,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Poker_RB_4_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,109}</string>
                <key>spriteSourceSize</key>
                <string>{75,109}</string>
                <key>textureRect</key>
                <string>{{667,1},{75,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Poker_RB_4_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,111}</string>
                <key>spriteSourceSize</key>
                <string>{85,111}</string>
                <key>textureRect</key>
                <string>{{339,162},{85,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Poker_RB_4_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,108}</string>
                <key>spriteSourceSize</key>
                <string>{76,108}</string>
                <key>textureRect</key>
                <string>{{902,1},{76,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Poker_R_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,45}</string>
                <key>spriteSourceSize</key>
                <string>{41,45}</string>
                <key>textureRect</key>
                <string>{{296,184},{41,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Poker_R_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,45}</string>
                <key>spriteSourceSize</key>
                <string>{41,45}</string>
                <key>textureRect</key>
                <string>{{283,163},{19,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Poker_R_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{27,45}</string>
                <key>spriteSourceSize</key>
                <string>{41,45}</string>
                <key>textureRect</key>
                <string>{{957,218},{27,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Poker_R_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,45}</string>
                <key>spriteSourceSize</key>
                <string>{41,45}</string>
                <key>textureRect</key>
                <string>{{456,115},{35,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Poker_R_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{39,45}</string>
                <key>spriteSourceSize</key>
                <string>{41,45}</string>
                <key>textureRect</key>
                <string>{{378,115},{39,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Poker_R_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,45}</string>
                <key>spriteSourceSize</key>
                <string>{41,45}</string>
                <key>textureRect</key>
                <string>{{895,189},{29,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Poker_R_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{31,45}</string>
                <key>spriteSourceSize</key>
                <string>{41,45}</string>
                <key>textureRect</key>
                <string>{{802,111},{31,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Poker_R_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{33,45}</string>
                <key>spriteSourceSize</key>
                <string>{41,45}</string>
                <key>textureRect</key>
                <string>{{598,112},{33,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Poker_R_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,45}</string>
                <key>spriteSourceSize</key>
                <string>{41,45}</string>
                <key>textureRect</key>
                <string>{{926,189},{29,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Poker_R_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,45}</string>
                <key>spriteSourceSize</key>
                <string>{41,45}</string>
                <key>textureRect</key>
                <string>{{835,111},{31,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Poker_R_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{31,45}</string>
                <key>spriteSourceSize</key>
                <string>{41,45}</string>
                <key>textureRect</key>
                <string>{{868,111},{31,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Poker_R_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{33,45}</string>
                <key>spriteSourceSize</key>
                <string>{41,45}</string>
                <key>textureRect</key>
                <string>{{633,112},{33,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Poker_R_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{33,45}</string>
                <key>spriteSourceSize</key>
                <string>{41,45}</string>
                <key>textureRect</key>
                <string>{{668,112},{33,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,181}</string>
                <key>spriteSourceSize</key>
                <string>{139,181}</string>
                <key>textureRect</key>
                <string>{{142,1},{139,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker_front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,182}</string>
                <key>spriteSourceSize</key>
                <string>{139,182}</string>
                <key>textureRect</key>
                <string>{{1,1},{139,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>porker.png</string>
            <key>size</key>
            <string>{1010,251}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3873972694bc43eb0bffa5c96a270d4d:d03fe0f44da84989a352d0c67b1f0755:19079d059d02514482d6691c8f5b2dfb$</string>
            <key>textureFileName</key>
            <string>porker.png</string>
        </dict>
    </dict>
</plist>
