<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>banker_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,117}</string>
                <key>spriteSourceSize</key>
                <string>{273,117}</string>
                <key>textureRect</key>
                <string>{{304,386},{273,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>banker_poker_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{174,93}</string>
                <key>spriteSourceSize</key>
                <string>{178,97}</string>
                <key>textureRect</key>
                <string>{{581,386},{174,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bet_area_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,70}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{1647,300},{64,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bet_area_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{1572,409},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bet_area_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{1496,367},{72,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bet_area_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{1715,296},{72,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bet_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,196}</string>
                <key>spriteSourceSize</key>
                <string>{162,196}</string>
                <key>textureRect</key>
                <string>{{1447,122},{162,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bet_total_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,49}</string>
                <key>spriteSourceSize</key>
                <string>{68,49}</string>
                <key>textureRect</key>
                <string>{{1575,356},{68,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flag_banker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{1809,187},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_win.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1496,288},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js_banker_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{294,116}</string>
                <key>spriteSourceSize</key>
                <string>{298,120}</string>
                <key>textureRect</key>
                <string>{{1447,2},{294,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{890,380}</string>
                <key>spriteSourceSize</key>
                <string>{890,380}</string>
                <key>textureRect</key>
                <string>{{2,2},{890,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js_btn_jixu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,42}</string>
                <key>spriteSourceSize</key>
                <string>{150,44}</string>
                <key>textureRect</key>
                <string>{{759,464},{150,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js_list_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{596,156}</string>
                <key>spriteSourceSize</key>
                <string>{600,162}</string>
                <key>textureRect</key>
                <string>{{896,304},{596,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{547,298}</string>
                <key>spriteSourceSize</key>
                <string>{547,298}</string>
                <key>textureRect</key>
                <string>{{896,2},{547,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js_you.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{1792,442},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js_you_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,120}</string>
                <key>spriteSourceSize</key>
                <string>{298,120}</string>
                <key>textureRect</key>
                <string>{{2,386},{298,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>list_title_name.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{174,44}</string>
                <key>spriteSourceSize</key>
                <string>{180,64}</string>
                <key>textureRect</key>
                <string>{{1647,122},{174,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{1575,288},{64,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{1648,442},{64,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{1720,442},{64,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text_btn_quit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{115,34}</string>
                <key>spriteSourceSize</key>
                <string>{117,36}</string>
                <key>textureRect</key>
                <string>{{1813,2},{115,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text_btn_req.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,34}</string>
                <key>spriteSourceSize</key>
                <string>{117,36}</string>
                <key>textureRect</key>
                <string>{{1177,464},{115,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_no_bet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,40}</string>
                <key>spriteSourceSize</key>
                <string>{130,40}</string>
                <key>textureRect</key>
                <string>{{1043,464},{130,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_quit_banker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{74,34}</string>
                <key>spriteSourceSize</key>
                <string>{76,36}</string>
                <key>textureRect</key>
                <string>{{1386,464},{74,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_req_banker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{74,34}</string>
                <key>spriteSourceSize</key>
                <string>{76,36}</string>
                <key>textureRect</key>
                <string>{{1743,122},{74,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text_tip_bet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{126,42}</string>
                <key>spriteSourceSize</key>
                <string>{170,44}</string>
                <key>textureRect</key>
                <string>{{913,464},{126,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_tip_rest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,44}</string>
                <key>spriteSourceSize</key>
                <string>{170,44}</string>
                <key>textureRect</key>
                <string>{{1695,122},{170,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>trend_icon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{1714,376},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trend_icon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{1780,376},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trend_icon_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{1781,121},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trend_icon_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{1743,200},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trend_icon_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1648,374},{62,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trend_icon_failure.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{1496,447},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trend_icon_new.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,38}</string>
                <key>spriteSourceSize</key>
                <string>{88,38}</string>
                <key>textureRect</key>
                <string>{{1296,464},{86,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trend_icon_seprator.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{581,483},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trend_icon_victory.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{1791,266},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trend_item_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,64}</string>
                <key>spriteSourceSize</key>
                <string>{115,64}</string>
                <key>textureRect</key>
                <string>{{1745,2},{115,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>trend_title_name.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{128,44}</string>
                <key>spriteSourceSize</key>
                <string>{180,46}</string>
                <key>textureRect</key>
                <string>{{759,386},{128,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Bull.png</string>
            <key>size</key>
            <string>{1849,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd52d559482d56d742f7e80f45870c2d:bb0bde3294ffb5de65e27aa5f5b0cc38:7a805687e8260adda6377e21ab91e462$</string>
            <key>textureFileName</key>
            <string>Bull.png</string>
        </dict>
    </dict>
</plist>
